@font-face {
	font-family: 'arrows';
	src:url('/static/images/arrows/arrows.eot');
	src:url('/static/images/arrows/arrows.eot?#iefix') format('embedded-opentype'),
		url('/static/images/arrows/arrows.woff') format('woff'),
		url('/static/images/arrows/arrows.ttf') format('truetype'),
		url('/static/images/arrows/arrows.svg#arrows') format('svg');
	font-weight: normal;
	font-style: normal;
}

.bb-custom-wrapper {
	margin-bottom: 10px;
	padding: 10px;
	width: 100%;
	height: 270px;
	position: relative;
}

.bb-custom-wrapper .bb-bookblock {
	height: 100%;
	width: 100%;
	-webkit-perspective: 2000px;
	-moz-perspective: 2000px;
	perspective: 2000px;
}

.book_header{
	font-family: Century;
	font-size: 15px;
	margin: 0px auto;
	color: #521500;
	margin-left: 10px;
	text-align: left;
}

.book_header span{
	font-size: 13px;
	font-weight: light;
	color: #111;
	text-transform: uppercase;
}

.book_title{
	font-family: Century;
	font-size: 15px;
	padding: 10px;
	margin: 5px auto;
	color: #521500;
	text-transform: uppercase;
}

.book_author{
	font-family: Helvetica;
	font-size: 12px;
	text-transform: uppercase;
	color: #DF7E5F;
	margin: 0px auto;
	padding: 0px;
}

.book_summary{
	padding: 10px;
	font-size: 12px;
	text-align: left;
	line-height: 15px;
	margin-top: 30px;
}

#flip_img{
	position: relative;
	height: 100%;
}

.bb-custom-side {
	border: 1px solid #aaa;
	width: 50%;
	float: left;
	height: 100%;
	overflow: hidden auto;
}

.bb-custom-wrapper h3 {
	font-size: 13px;
	font-weight: 300;
	margin: 0.4em 0 1em;
}

.bb-custom-wrapper > nav {
	width: 100%;
	height: 40px;
	margin-top: 5px;
	margin-bottom: 5px;
	text-align: center;
}

.bb-custom-wrapper > nav a {
	display: inline-block;
	width: 20px;
	height: 20px;
	text-align: center;
	border-radius: 2px;
	background: #222;
	color: #fff;
	font-size: 0;
	margin: 2px;
}

.bb-custom-wrapper > nav a:hover {
	opacity: 0.6;
}

.bb-custom-icon:before {
	font-family: 'arrows';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	font-size: 20px;
	line-height: 22px;
	display: block;
	-webkit-font-smoothing: antialiased;
}

.bb-custom-icon-first:before,
.bb-custom-icon-last:before {
	content: "\e002";
}

.bb-custom-icon-arrow-left:before,
.bb-custom-icon-arrow-right:before {
	content: "\e003";
}

.bb-custom-icon-arrow-left:before,
.bb-custom-icon-first:before {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}

/* No JS */
.no-js .bb-custom-wrapper {
	height: auto;
}

.no-js .bb-custom-content {
	height: 470px;
}

@media screen and (max-width: 61.75em){
	.bb-custom-side {
		font-size: 70%;
	}
}

@media screen and (max-width: 33em){
	.bb-custom-side {
		font-size: 60%;
	}
}

