#article_content {
	margin: 0 auto;
	border: none;
}

#article_ads {
	position: relative;
	margin-top: 38px;
	margin-left: 10px;
	border: none;
}

#article_menu {
	margin: 0 auto;
	padding: 0px;
	text-align: left;
}

#article_menu li {
	padding: 0px;
	display: inline;
	text-align: center;
	font-size: 13px;
}

#article_date{
	margin-left: 25px;
}

#article_button {
	position: relative;
	margin-left: 10px;
	float: right;
}

#article_title {
	font-family: Century;
	position: relative;
	margin-top: 0px;
	margin-bottom: 10px;
	font-size: 25px;
	font-weight: 20;
}

#article_button a {
	font-family: Century;
	font-weight: 100;
	font-size: 12px;
	background-color: #eee;
	color: #111;
	border-radius: 10px;
	padding: 8px;
	text-transform: uppercase;
}

#article_button a:hover {
	background-color: #111;
	color: #eee;
}


#article_main_img{
	position: relative;
	width: 100%;
	margin-bottom: 15px;
}

.article_text {
	font-family: Century;
	text-align: left;
	font-weight: 100;
	font-size: 15px;
}