﻿/*
* Skeleton V1.1
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 8/17/2011
*/


/* Table of Content
==================================================
	#Reset & Basics
	#Basic Styles
	#Site Styles
	#Typography
	#Links
	#Lists
	#Images
	#Buttons
	#Tabs
	#Forms
	#Misc */


/* #Reset & Basics (Inspired by E. Meyers)
================================================== */
	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline; }
	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
		display: block; }
	body {
		line-height: 1; }
	ol, ul {
		list-style: none; }
	blockquote, q {
		quotes: none; }
	blockquote:before, blockquote:after,
	q:before, q:after {
		content: '';
		content: none; }
/*	table {
		border-collapse: collapse;
		border-spacing: 0; }*/
		
	/* 
	Generic Styling, for Desktops/Laptops 
	*/
	table { 
		width: 100%; 
		border-collapse: collapse; 
	}
	/* Zebra striping */
	tr:nth-of-type(odd) { 
		background: #fff; 
	}
	th { 
		background: #fff; 
		color: white; 
		font-weight: bold; 
	}
	td, th { 
		padding: 6px; 
		text-align: left; 
	}		
		
		
		
	.bold {font-weight:bold;}

	img { max-width: 100%; height: auto; }
	
		.alignleft {
			float:left;
			margin:0px 20px 15px 0;
		}
		.alignleft.caption{
			padding: 5px 5px 0px;
			margin-bottom: 0;
			font-size:11px;
			width: 160px;
			color: #ABABAB;
			line-height:20px;
			text-decoration:none;
		}
		.alignright {
			float:right;
			margin:0px 0px 15px 20px;
		}
		.alignnone {
			float:none;
		}		
		.alignleft, .alignright, .aligncenter, .alignnone {
			/*padding:4px;*/
			font-size:0;
			line-height:0;
			position:relative;
			display:block;
		}	
/* #Basic Styles
================================================== */
	body {
		background: #fff;
		font: 12px/21px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
		color: #6a6a6a;
		-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
		-webkit-text-size-adjust: 100%;
 }


/* #Typography
================================================== */
	h1, h2, h3, h4, h5, h6 {
		color: #333;
		font-family: Helvetica, Arial, sans-serif;
		font-weight: normal; }
	h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { font-weight: inherit; text-decoration:none; }
	h1 { font-size: 46px; line-height: 50px; margin-bottom: 14px;}
	h2 { font-size: 35px; line-height: 40px; margin-bottom: 10px; }
	h3 { font-size: 28px; line-height: 34px; margin-bottom: 8px; }
	h4 { font-size: 21px; line-height: 30px; margin-bottom: 4px; }
	h5 { font-size: 17px; line-height: 24px; }
	h6 { font-size: 14px; line-height: 21px; }
	.subheader { color: #777; }

	p { margin: 0 0 20px 0; }
	p img { margin: 0; }
	p.lead { font-size: 21px; line-height: 27px; color: #777;  }

	em { font-style: italic; }
	strong { font-weight: bold; color: #333; }
	small { font-size: 80%; }

/*	Blockquotes  */
	blockquote, blockquote p { font-size: 17px; line-height: 24px; color: #777; font-style: italic; }
	blockquote { margin: 0 0 20px; padding: 9px 20px 0 19px; border-left: 1px solid #ddd; }
	blockquote cite { display: block; font-size: 12px; color: #555; }
	blockquote cite:before { content: "\2014 \0020"; }
	blockquote cite a, blockquote cite a:visited, blockquote cite a:visited { color: #555; }

	hr { border: solid #ddd; border-width: 1px 0 0; clear: both; margin: 10px 0 30px; height: 0; }


/* #Links
================================================== */
	a, a:visited { color: #6A6A6A; text-decoration: underline; outline: 0; 	-webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear; }
	a:hover, a:focus { color: #000; }
	p a, p a:visited { line-height: inherit; }


/* #Lists
================================================== */
	ul, ol { margin-bottom: 20px; }
	ul { list-style: none outside; }
	ol { list-style: decimal; }
	ol, ul.square, ul.circle, ul.disc { margin-left: 30px; }
	ul.square { list-style: square outside; }
	ul.circle { list-style: circle outside; }
	ul.disc { list-style: disc outside; }
	ul ul, ul ol,
	ol ol, ol ul { margin: 4px 0 5px 30px; font-size: 90%;  }
	ul ul li, ul ol li,
	ol ol li, ol ul li { margin-bottom: 6px; }
	li { line-height: 21px; margin-bottom: 6px; }
	ul.large li { line-height: 21px; }
	li p { line-height: 21px; }
	ul.arrow li  { background-position:-148px -40px; padding-left: 15px; background-image:url('../images/icons/sprites.png'); background-repeat:no-repeat; list-style:none; }
	ul.arrow2 li  { background-position:0px -936px; padding-left: 15px; background-image:url('../images/icons/sprites.png'); background-repeat:no-repeat; list-style:none; }		

/* #Images
================================================== */

	img.scale-with-grid {
		max-width: 100%;
		height: auto; }


/* #Buttons
================================================== */

	.button, button, input[type=submit], input[type=reset], input[type=button] {
	  border: 1px solid #cacbcb;
	  background-color:white;
	  color: #6A6A6A;
	  display: inline-block;
	  font-size: 11px;
	  text-decoration: none;
	  cursor: pointer;
	  padding: 8px 10px;
	-webkit-box-shadow: 2px 2px 0px 0px #e2e4e4;
	-moz-box-shadow: 2px 2px 0px 0px #e2e4e4;
	box-shadow: 2px 2px 0px 0px #e2e4e4;
	-webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear; }	  
 }

a.button { color: #6A6A6A; text-decoration:none; line-height:18px; }
a.button:hover, input[type=submit]:hover { color: #4D4C4C; text-decoration:none; }
.viewall { position:absolute; padding: 3px 13px; margin-left: 46.5%; top:-14px;}
.view-testimonials { padding: 3px 13px; float:right; font-style:normal;}
a.read-more { padding: 3px 13px; float:left; font-style:normal;}
a.cta-button { padding: 5px 17px; font-style:normal; color: #FF7E00; font-size: 12px; font-weight: bold; }
a.tag-button { padding: 0 5px; float:left; font-style:normal;}

	.button:hover, button:hover, input[type=submit]:hover, input[type=reset]:hover, input[type=button]:hover {
		background: #f5f5f5;}

	.button:active, button:active, input[type=submit]:active, input[type=reset]:active, input[type=button]:active {}

	.button.full-width, button.full-width, input[type=submit].full-width, input[type=reset].full-width, input[type=button].full-width {
		width: 100%;
		padding-left: 0 !important;
		padding-right: 0 !important;
		text-align: center; }

	/* Fix for odd Mozilla border & padding issues */
	button::-moz-focus-inner,
	input::-moz-focus-inner {
    border: 0;
    padding: 0;
	}

	a.cta-button:hover { color: #FF7E00; }
/* #Tabs (activate in tabs.js)
================================================== */
	ul.tabs {
		display: block;
		margin: 0 0 20px 0;
		padding: 0;
		border-bottom: solid 1px #e7e7e7; }
	ul.tabs li {
		display: block;
		width: auto;
		height: 30px;
		padding: 0;
		float: left;
		margin-bottom: 0; }
	ul.tabs li a {
		display: block;
		text-decoration: none;
		width: auto;
		height: 29px;
		padding: 0px 11px;
		line-height: 30px;
		border: solid 1px #e7e7e7;
		border-width: 1px 1px 0 0;
		margin: 0;
		background: #F9F9F9;
		-webkit-transition: color 0.3s linear;
-moz-transition: color 0.3s linear;
-ms-transition: color 0.3s linear;
-o-transition: color 0.3s linear;
transition: color 0.3s linear;
		 }
	ul.tabs li a.active {
		background: #fff;
		height: 30px;
		position: relative;
		top: -4px;
		padding-top: 4px;
		border-left-width: 1px;
		margin: 0 0 0 -1px;
		color: #111;
}
	ul.tabs li:first-child a.active {
		margin-left: 0; }
	ul.tabs li:first-child a {
		border-width: 1px 1px 0 1px;
 }
	ul.tabs li:last-child a {
 }

	ul.tabs-content { margin: 0; display: block; }
	ul.tabs-content > li { display:none; }
	ul.tabs-content > li.active { display: block; }

	/* Clearfixing tabs for beautiful stacking */
	ul.tabs:before,
	ul.tabs:after {
	  content: '\0020';
	  display: block;
	  overflow: hidden;
	  visibility: hidden;
	  width: 0;
	  height: 0; }
	ul.tabs:after {
	  clear: both; }
	ul.tabs {
	  zoom: 1; }


/* #Forms
================================================== */

	form {
		margin-bottom: 20px; }
	fieldset { margin-bottom: 20px; }
	#top-panel fieldset, #top-panel form { margin-bottom: 0px; }
	input[type=text], input[type=password], input[type=email], textarea, select {
		border: 1px solid #CACBCB;
		padding: 6px 4px;
		outline: none;
/*		-moz-border-radius: 2px;
		-webkit-border-radius: 2px;
		border-radius: 2px;*/
		font-size: 11px;		
		font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
/*		font: 13px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;*/
		color: #777;
		margin: 0;
		width: 210px;
		max-width: 100%;
		display: block;
		margin-bottom: 20px;
		background: #fff; }
		
	#searchform input[type=text] {
		padding-right: 25px;
		width: 179px;
		background-image: url('../images/icons/sprites.png');
		background-repeat: no-repeat;
		background-position: 183px -759px;
	}		
	#contacts-form input[type=text], #tcontacts-form input[type=password], #contacts-form input[type=email] {
		float:left;
		margin-right:20px;}
	#contacts-form textarea {width: 450px;}
	#contacts-form-main input[type=text], #contacts-form-main input[type=password], #contacts-form-main input[type=email] {
		float:left;
		margin-right:20px;
		width: 330px;
		}
	#contacts-form-main textarea  {width: 691px;}
	#ajax-contact-form-main { margin-bottom: 0;}
	fieldset.info_fieldset { margin-bottom: 0;}
	input[type=text].last-item, input[type=email].last-item, input[type=url].last-item, input[type=submit].last-item, input[type=reset].last-item {
		margin-right: 0 !important;}		
	select {
		padding: 0; }
	input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, textarea:focus {
		border: 1px solid #aaa;
 		color: #444;
 		-moz-box-shadow: 0 0 3px rgba(0,0,0,.2);
		-webkit-box-shadow: 0 0 3px rgba(0,0,0,.2);
		box-shadow:  0 0 3px rgba(0,0,0,.2); }
	textarea {
		min-height: 60px; }
	label,
	legend {
		display: block;
		font-weight: bold;
		font-size: 13px;  }
	select {
		width: 220px; }
	input[type=checkbox] {
		display: inline; }
	label span,
	legend span {
		font-weight: normal;
		font-size: 13px;
		color: #444; }

/* #Misc
================================================== */
	.remove-bottom { margin-bottom: 0 !important; }
	.half-bottom { margin-bottom: 10px !important; }
	.add-bottom { margin-bottom: 20px !important; }

