﻿
/******************* DEFAULT ***************/
a {
	text-decoration: none;
}

ul {
	list-style-type: none;
}

h3 {
	color: #333;
	font-family: Helvetica;
	font-size: 14px;
	font-weight: 100;
}

h5 {
	margin: 0 auto;
	padding: 0px;
}

/******************* HEADER ****************/
#header {
	background: #fff;
	margin-bottom: 10px;
	width: 100%; 
	}

#header_line{
	margin: 0 auto;
	background: #111;
	height: 1px;
	margin-bottom: 20px;
}

#logo {
	float: left;
	font-size:40px; 
	width:200px; 
	font-weight:normal; 
	margin-top: 0px;
	text-decoration: none; 
	font-family: Century;
	}
	
#logo a{
	display: block;  
	color: #222;
	text-decoration: none; 
}

.sf-menu, .sf-menu * { margin: 0; padding: 0; list-style: none; }
.sf-menu { margin-right: 20px; }
.sf-menu li {
	float: right;
	display: block-inline;
	position: relative;
	vertical-align: middle;
}

.sf-menu li a { 
	color: #222;
	font-size: 25px;
	display: block;
	margin-top: 20px; 
	padding-left: 10px; 
	padding-right: 10px; 
	text-decoration: none; 
}

.sf-menu ul li a:focus, .sf-menu ul li a:hover, .sf-menu ul li a:active {
	outline: 0;	
	opacity: .4;
}

#icon_1 {position: relative; top: 0px;} /* position fix for the new analysis icon */
#icon_2 {position: relative; top: -1px;} /* position fix for the new analysis icon */
#icon_3 {position: relative; top: 0px;} /* position fix for the new analysis icon */
#icon_4 {position: relative; top: -2px;} /* position fix for the new analysis icon */
#icon_5 {position: relative; top: 0px;} /* position fix for the new analysis icon */

/******************* FOOTER ****************/
#footer {
	margin-top: 30px;
	height: 25px;
	background:#fff;
	border: 1px solid #111;
}

#footer a:hover { color :#fff; }

#footer_logo {
	text-align: left;
	margin-left: 10px;
	font-size: 12px;
	color: #fff;
	font-family: Century;
	margin-top: 5px;
}

#footer_logo a {
	color: #111;
	text-decoration: none;
}

/******************* HOME PAGE CONTENT ***************/
#home_right{
	margin-top: 30px;
	height: 250px;
	border: none;
}

.home_header{
	margin: 0px auto;
	margin-bottom: 10px;
	display: block inline;
	font-size: 12px;
}

.home_sub_hdr{
	font-family: Century;
	font-size: 15px;
	color: #006600;
}

.home_header input{
	text-align: center;
	width: 220px;
}

#search_btn{
	margin-left: 10px;
	width: 50px;
}

#tabs {
	background: #fff;
	padding: 0px;
	border: 1px solid #aaa;
	height: 215px;
}

#tabs ul li {
	font-family: Century;
	margin: 0 auto;
	font-size: 9px;
	text-align: left;
	text-transform: uppercase;
}

#tabs ul li a:hover{
	color: #006600;
}

#tab_menu li{
	border-left: 1px solid #333;
	border-top: 1px solid #333;
}

.popular li {
	list-style-type: decimal;
}

.popular li a{
	font-family: Century;
	font-size: 12px;
	text-align: left;
}

.popular a {
	color: #111;
}

.popular a:hover {
	color: #006600;
}
