/* Main Gridster */
.gridster ul {
    background-color: #ccc;

}

.gridster ul li{
	overflow: hidden;

}

#gridster_cont{
	font-family: Century;
	font-size: 16px;
	position: relative;
	margin-top: 20px;
	width: 100%;
	margin-bottom: 30px;

}


#visual_nav{
	text-align: center;
	margin-left: 0 auto;
	margin-right: 0 auto;
	width: 99%;
}

#dialog_confirm{
	font-family: Century;
	font-size: 20px;
}

/* Article Buttons */
#back_text{
	display:none;
}

.textarea_insert {
	text-align: left;
	margin: 0px;
	padding: 0px;
	height: 100%;
	width: 100%;
	resize: none;
	color: #333;
	font-weight: 100;
	background-color: #fff;
}

p.textarea_insert{
	border: 2px dashed red;
}

textarea {
	font-family: Century;
	font-size: 16px;
	
}

textarea.textarea_insert{
	padding: 5px;
	border: 3px dashed green;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.img_insert img{
	margin-left: auto;
	margin-right: auto;
	height: 100%;
	width: 100%;
	padding:0px;
}

#article_menu {
	margin: 0 auto;
	padding: 0px;
	text-align: left;
}

#article_menu li {
	padding: 0px;
	display: inline;
	text-align: center;
	font-size: 13px;
}

#article_date{
	margin-left: 25px;
}

.article_button {
	position: relative;
	margin-left: 10px;
	float: right;
}

#article_title {
	position: relative;
	margin-top: 10px;
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding: 5px;
	font-weight: 100;
	font-size: 14px;
	border: 2px solid #333;
	border-radius: 10px;
	width: 50%;
}

#article_title input{
	font-family: Century;
	font-size: 20px;
	width: 99%;
	text-align: center;
	border: none !important;
}

#article_title input:focus{
	outline: 0;
}

.article_button a {
	font-family: Century;
	font-weight: 100;
	font-size: 12px;
	background-color: #fff;
	color: #333;
	border: 2px solid #333;
	border-radius: 10px;
	padding: 8px;

}

.article_button a:hover {
	background-color: #ccc;
	color: #eee;
}

/* Elastislide Style */

.elastislide-list {
	list-style-type: none;
	display: none;
}

.no-js .elastislide-list {
	display: block;
}

.elastislide-carousel ul li {
	min-width: 20px; /* minimum width of the image (min width + border) */
}

.elastislide-wrapper {
	position: relative;
	background-color: #fff;
	margin: 0 auto;
	min-height: 60px;
	box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.elastislide-wrapper.elastislide-loading {
	background-image: url(../images/loading.gif);
	background-repeat: no-repeat;
	background-position: center center;
}

.elastislide-horizontal {
	padding: 10px 40px;
}

.elastislide-vertical {
	padding: 40px 10px;
}

.elastislide-carousel {
	overflow: hidden;
	position: relative;
}

.elastislide-carousel ul {
	position: relative;
	display: block;
	list-style-type: none;
	padding: 0;
	margin: 0;
	-webkit-backface-visibility: hidden;
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	-ms-transform: translateX(0px);
	-o-transform: translateX(0px);
	transform: translateX(0px);
}

.elastislide-horizontal ul {
	white-space: nowrap;
}

.elastislide-carousel ul li {
	margin: 0;
	-webkit-backface-visibility: hidden;
}

.elastislide-horizontal ul li {
	height: 100%;
	display: inline-block;
}

.elastislide-vertical ul li {
	display: block;
}

.elastislide-carousel ul li a {
	display: inline-block;
	width: 100%;
}

.elastislide-carousel ul li a img {
	display: block;
	border: 2px solid white;
	max-width: 100%;
}

/* Navigation Arrows */

.elastislide-wrapper nav span {
	position: absolute;
	background: #ddd url(../images/nav.png) no-repeat 4px 3px;
	width: 23px;
	height: 23px;
	border-radius: 50%;
	text-indent: -9000px;
	cursor: pointer;
	opacity: 0.8;
}

.elastislide-wrapper nav span:hover {
	opacity: 1.0
}

.elastislide-horizontal nav span {
	top: 50%;
	left: 10px;
	margin-top: -11px;
}

.elastislide-vertical nav span {
	top: 10px;
	left: 50%;
	margin-left: -11px;
	background-position: -17px 5px;
}

.elastislide-horizontal nav span.elastislide-next {
	right: 10px;
	left: auto;
	background-position: 4px -17px;
}

.elastislide-vertical nav span.elastislide-next {
	bottom: 10px;
	top: auto;
	background-position: -17px -18px;
}


