/* Main Gridster */
.gridster ul{
	background-color: #fff;
}

#gridster_cont{
	font-family: Century;
	font-size: 20px;
	position: relative;
	margin-top: 20px;
	width: 100%;
	margin-bottom: 30px;
	border: none;
}

#gridster_cont ul li{
	overflow: none;
}


#dialog_confirm{
	font-family: Century;
	font-size: 20px;
}

/* Article Buttons */
#back_text{
	display:none;
}

.article_button a {
	font-family: Century;
	font-weight: 100;
	font-size: 12px;
	background-color: #fff;
	color: #333;
	border: 2px solid #333;
	border-radius: 10px;
	padding: 8px;
}

.article_button a:hover {
	background-color: #ccc;
	color: #eee;
}

#report_title{
	border: none;
}

.textarea_insert {
	text-align: left;
	margin: 0px;
	height: 100%;
	width: 100%;
	resize: none;
	color: #333;
	font-weight: 100;
	background-color: #fff;
}

p.textarea_insert{
	border: none;
}

textarea {
	font-family: Century;
	font-size: 20px;
}

textarea.textarea_insert{
	border: none;
}

.img_insert img{
	margin-left: auto;
	margin-right: auto;
	height: 100%;
	width: 100%;
	padding:0px;
}

#article_menu {
	margin: 0 auto;
	padding: 0px;
	text-align: left;
}

#article_menu li {
	padding: 0px;
	display: inline;
	text-align: center;
	font-size: 13px;
}

#article_date{
	margin-left: 25px;
}

.article_button {
	position: relative;
	margin-left: 10px;
	float: right;
}

#article_title {
	position: relative;
	margin-top: 10px;
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding: 5px;
	font-weight: 100;
	font-size: 14px;
	width: 50%;
}

#article_title input{
	font-family: Century;
	font-size: 20px;
	width: 99%;
	text-align: center;
	border: none;
}

#article_title input:focus{
	outline: 0;
}


