
	
/* Twitter Login */
#topnav {
	/*padding:10px 10px 12px;*/
	text-align:right;
}
#topnav a.signin {
	background:#fff;
	/*padding:4px 6px 6px;*/
	text-decoration:none;
	color:#333;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	/*background:transparent url("http://s.twimg.com/a/1249943174/images/signin-nav-bg-ie.png") no-repeat 0 0;*/
	/*padding:4px 4px 6px;*/
}
#topnav a.signin:hover {
	/*background:#aaa;*/
	/*color: #eee;*/
	/*background:transparent url("http://s.twimg.com/a/1249943174/images/signin-nav-bg-hover-ie.png") no-repeat 0 0;*/
}
#topnav a.signin, #topnav a.signin:hover {
	*background-position:0 0px!important;
}

a.signin {
	position:relative;
	margin-left:3px;
}
a.signin span {
	background-image:url("http://s.twimg.com/a/1249943174/images/toggle_down_light.png");
	background-repeat:no-repeat;
	font-size:14px;
	/*background-position:100% 50%;*/
	/*padding:4px 4px 6px 0;*/
}
#topnav a.menu-open {
	background:#fff!important;
	color:#333!important;
	outline:none;
}
/*
#small_signup {
	display:inline;
	float:none;
	line-height:23px;
	margin:25px 0 0;
	width:170px;
}
a.signin.menu-open span {
	background-image:url("http://s.twimg.com/a/1249943174/images/toggle_up_dark.png");
	color:#789;
}
*/
#signin_menu {
	-moz-border-radius-topleft:5px;
	-moz-border-radius-topright:5px;
	-moz-border-radius-bottomleft:5px;
	-moz-border-radius-bottomright:5px;
	-webkit-border-top-left-radius:5px;
	-webkit-border-top-right-radius:5px;
	-webkit-border-bottom-left-radius:5px;
	-webkit-border-bottom-right-radius:5px;
	display:none;
	background-color:#ddd;
	position:absolute;
	width:210px;
	z-index:1000;
	/*border:1px transparent;*/
	text-align:left;
	padding:10px;
	margin-left:-180px;
	*margin-left:-200px;
	margin-top:15px;
	color:#333;
	font-size:11px;
}

#signin_menu input[type=text], #signin_menu input[type=password] {
	display:block;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border:1px solid #eee;
	font-size:11px;
	margin:0 0 5px;
	padding:5px;
	width:200px;
}
#signin_menu p {

	margin:0;
}
#signin_menu a {
	color:#d34;
}
#signin_menu label {
	font-size: 11px;
	font-weight:normal;
}
#signin_menu p.remember {
	padding:5px 0;
}
#signin_menu p.forgot, #signin_menu p.complete {
	clear:both;
	margin:5px 0;
}
#signin_menu p a {
	color:#333!important;
}

#signin_menu a.forgot{
	font-size: 10px;
}

#signin_submit {
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	background:#333 url('http://s.twimg.com/a/1249943174/images/bg-btn-blue.png') repeat-x scroll 0 0;
	border:1px solid #eee;
	color:#fff;
	/*text-shadow:0 -1px 0 #fff;*/
	padding:4px 10px 5px;
	font-size:11px;
	margin:0 5px 0 0;
}
#signin_submit::-moz-focus-inner {
padding:0;
border:0;
}
#signin_submit:hover, #signin_submit:focus {
	background-position:0 -5px;
	cursor:pointer;
}

.tipsy-inner {
	padding:10px 15px;
	line-height:1.5em;
	font-weight:bold;
}
.ie6 .tipsy {
	width:250px;
}
.signup-tip {
	line-height:18px;
	margin:30px 0;
	color:#333;
}
.signup-tip a {
	font-weight:bold;
}
#tabs{
	height: 100%;
	width: 1000px;
}

#accordion {
	font-size: 11px;
}

.tabs-header {
	font-family:'Special Elite', 'Sacramento','Simonetta', 'Patrick Hand SC', cursive;
	font-size: 14px;
}

