{% extends "base.html" %}
{% block js_head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/jquery-ui.css') }}"  />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/gridster/jquery.gridster.css') }}"/>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/elastic/elastislide.css') }}"  />
<link id="style_report" rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/report/new_report.css') }}" />
<script type="text/javascript" src="{{ url_for('static', filename='assets/lib/elastic/modernizr.custom.17475.js') }}"></script>
{% endblock %}

{% block content %}

	<div class="onerow">
		<!-- INTERACTIVE JOURNAL PREVIEW -->
		<div class="col12 last" id="article_content">
			<form id="submit_report" name="report" action="{{ url_for('submit_report', username=g.user.username) }}"  method="POST" >
				{{ form.hidden_tag() }}
				<div id="article_title">
					{{ form.report_title }}
				</div>
			</form>
			
			<ul id="article_menu">
				<li id="article_author" ><a href="#">By Dae Il Kim </a> </li> 
				<li id="article_date" >Published September 11, 2013 </li>
				<li class="article_button article_edit"><a id="save_text" href="{{ url_for('submit_report', username=g.user.username) }}">Save</a></li> 
				<li class="article_button article_edit"><a id="preview_text" href="#">Preview</a></li>
				<li class="article_button article_edit"><a id="add_text" href="#">Add TextBox</a></li>
				<li class="article_button article_edit"><a id="move_text" href="#">Move / Delete</a></li>
				<li class="article_button"><a id="back_text" href="#">Return to Edit Mode</a></li>
			</ul>
			
		  	<div id="gridster_cont" class="gridster">
		    	<ul>
					<li id="box_0" data-row="1" data-col="1" data-sizex="11" data-sizey="2"><textarea  class="textarea_insert">Text Filler: Use the button above to specify the fill space of your text.</textarea></li>
					<li id="box_1" data-row="3" data-col="1" data-sizex="6" data-sizey="2"><textarea  class="textarea_insert">Text Filler: The text will then float around the layout you specify for your images.</textarea></li>
					<li id="box_2" data-row="5" data-col="6" data-sizex="6" data-sizey="2"><textarea  class="textarea_insert">Click on the snapshots below to load them onto your page.</textarea></li>
		    	</ul>
		  	</div>
		
			<div id="dialog-confirm" title="Delete GridBox?">
			  <p><span class="ui-icon ui-icon-alert"></span>These items will be permanently deleted and cannot be recovered. Are you sure?</p>
			</div>
			
		</div>
	</div>
		<!-- MOST POPULAR / INTERESTING -->
		<div class="onerow">
			<div class="col12 last" id="visual_nav">
				<h3>Click on the images below to add them to your report</h3>
				<div class="column">
					<ul id="carousel" class="elastislide-list">
						<li><a href="#" class="slider"><img class="article_canvas" src="{{ url_for('static', filename='images/hopper-morning-sun.jpg') }}" alt=""></a></li>
						<li><a href="#" class="slider"><img class="article_canvas" src="{{ url_for('static', filename='images/hopper-chop-suey.jpg') }}" alt=""></a></li>
						<li><a href="#" class="slider"><img class="article_canvas" src="{{ url_for('static', filename='images/hopper-gas.jpg') }}" alt=""></a></li>
						<li><a href="#" class="slider"><img class="article_canvas" src="{{ url_for('static', filename='images/hopper-early-sunday-morning.jpg') }}" alt=""></a></li>
						<li><a href="#" class="slider"><img class="article_canvas" src="{{ url_for('static', filename='images/hopper-nighthawks.jpg') }}" alt=""></a></li>
					</ul>
				</div>	
			</div>
		</div>
				
	</div>

<!-- END BLOG WRAPPER -->
{% endblock %}
{% block js %}

<script type="text/javascript" src="{{ url_for('static', filename='assets/lib/elastic/jquery.elastislide.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='assets/lib/elastic/jquerypp.custom.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='assets/lib/gridster/jquery.gridster.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='assets/js/reports/report_new.js') }}"></script>

{% endblock %}
