{% extends "base.html" %}
{% block js_head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/manage/reports_listing.css') }}"  />
<script type="text/javascript" src="{{ url_for('static', filename='assets/lib/dropdown/modernizr.custom.63321.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='assets/lib/mixitup/jquery.mixitup.js') }}"></script>

{% endblock %}

{% block content %}
	<div class="onerow" >
		<div class="col3" id="filter_listing_cont">
			<ul id="dr_links">
				<li><button id="data_btn" class="nav"><a  href="{{ url_for('manage_data', username=g.user.username)  }}"  id="data_tab">Datasets </a></button></li>
				<li><button id="reports_btn" class="nav ui-state-active"><a  href="{{ url_for('manage_reports', username=g.user.username)  }}" id="reports_tab">Reports</a></button></li>
			</ul>
			<div class="controls">
				<div class="fleft">
					<select id="filter-type" name="cd-dropdown" class="cd-select">
						<option value="-1" selected>Type</option>
						<option value="all">All Data</option>
						<option value="category_1">Documents</option>
						<option value="category_2">Networks</option>
						<option value="category_3">Other</option>
					</select>
				</div>
				<div class="fleft">
					<select id="filter-sort" name="cd-dropdown" class="cd-select">
						<option value="-1" selected>Sort</option>
						<option value="1">Recent</option>
						<option value="2">Oldest</option>
						<option value="3">Size</option>
					</select>
				</div>
				<input type="text" id="search_input" value="Search"></input>
			</div>
		</div>
		
		<div class="col9 last" id="data_listing_cont">
			<ul id="Grid">	
				{% for img_url,title,subtext,info in data %}
					<li class="mix category_{{ loop.index }}">
						<a href="{{ url_for('data_summary', data_id=data_id, username=g.user.username )  }}"><img src="/static/users/{{g.user.username}}/datasets/{{savename}}/upload_image.jpg"></a>
						<h3 >{{ name }}</h3>
					</li>
					<li class="mix category_2">
						<a href="/daeil/data/1/summary/"><img src="/static/users/daeil/datasets/stories_test/upload_image.jpg"></a>
						<h3 >test</h3>
					</li>
				{% endfor %}
			</ul>
		</div>
	</div>
	
{% endblock %}
{% block js %}

<script type="text/javascript" src="{{ url_for('static', filename='assets/lib/dropdown/jquery.dropdown.js') }}"></script>
<script type="text/javascript">
$('#Grid').mixitup();

$( function() {
	$( '#filter-type' ).dropdown( {
		gutter : 5,
		stack : false,
		slidingIn : 100
	} );
	$( '#filter-sort' ).dropdown( {
		gutter : 5,
		stack : false,
		slidingIn : 100
	} );
});

$(".cd-select").on("change",function(){
    item = $(this).val();
	console.log(item);   
    $('#Grid').mixitup('filter',item);
});

/*
$('.filter2').click(function(){
	$('.filter2').removeClass('clicked_control');
    $(this).toggleClass('clicked_control');
});
*/
</script>
{% endblock %}