@font-face {
	font-family: 'icomoon';
	src:url('/static/fonts/icomoon_arrows/icomoon.eot');
	src:url('/static/fonts/icomoon_arrows/icomoon.eot?#iefix') format('embedded-opentype'),
		url('/static/fonts/icomoon_arrows/icomoon.woff') format('woff'),
		url('/static/fonts/icomoon_arrows/icomoon.ttf') format('truetype'),
		url('/static/fonts/icomoon_arrows/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
} /* Iconfont by Icomoon http://icomoon.io/ */


/* Accordion style */
#cbp-ntaccordion {
	margin-left: 10px;
	margin-right: 10px;
}

.cbp-ntaccordion {
	list-style: none;
	margin: 0;
	padding: 0;
}

.cbp-ntsubaccordion {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

.cbp-ntaccordion .cbp-nttrigger {
	cursor: pointer;
} 

h3.cbp-nttrigger{
	margin: 0px;
	padding: 0px;
}

cbp-ntsubaccordion li{
	margin: 0px;
	padding: 0px;
}

.cbp-ntaccordion h3 {
	text-align: left;
	margin-bottom: 0px;
	border-bottom: 1px solid #ddd;
	font-size: 1.15em;
	font-weight: 300;
}

.cbp-ntaccordion h4 {
	font-family: Helvetica;
	font-size: 14px;
	text-align: left;
	font-weight: 100;
	padding-bottom: 5px;
	margin: 0px;
}

.cbp-ntaccordion h5 {
	font-family: Helvetica;
	font-size: 14px;
	color: #aaa;
}

.cbp-ntaccordion .cbp-ntcontent p {
	color: #888;
	font-size: .8em;
	font-weight: 300;
	text-align: left;
}

/* Arrow icons */
.cbp-ntaccordion > li > .cbp-nttrigger:before,
.cbp-ntsubaccordion > li > .cbp-nttrigger:before {
	font-family: 'icomoon';
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	color: #ddd;
	margin-right: 0.5em;
	-webkit-font-smoothing: antialiased;
}

.cbp-ntaccordion > li > .cbp-nttrigger:before {
	font-size: 85%;
}

.cbp-ntaccordion > li > .cbp-nttrigger:before {
	content: "\36";
}
.cbp-ntaccordion > li > .cbp-nttrigger:hover:before {
	content: "\35";
	color: inherit;
}
.cbp-ntaccordion > li.cbp-ntopen > .cbp-nttrigger:before,
.no-js .cbp-ntaccordion > li > .cbp-nttrigger:before {
	content: "\34";
	color: inherit;
}

.cbp-ntsubaccordion > li > .cbp-nttrigger:before {
	content: "\32";
}
.cbp-ntsubaccordion > li > .cbp-nttrigger:hover:before {
	content: "\33";
	color: inherit;
}
.cbp-ntsubaccordion > li.cbp-ntopen > .cbp-nttrigger:before,
.no-js .cbp-ntsubaccordion > li > .cbp-nttrigger:before {
	content: "\31";
	color: inherit;
}

/* Initial height is zero */
.cbp-ntaccordion .cbp-ntcontent {
	height: 0;
	overflow: hidden;
}

/* When open, set height to auto */
.cbp-ntaccordion .cbp-ntopen > .cbp-ntcontent,
.cbp-ntsubaccordion .cbp-ntopen > .cbp-ntcontent,
.no-js .cbp-ntaccordion .cbp-ntcontent {
	height: auto;
}

/* Example for media query */
@media screen and (max-width: 32em) { 

	.cbp-ntaccordion {
		font-size: 70%;
	}

}

#viz1{
	position: relative;
	margin-top: 10px;
	font-size: 12px;
}

path  {
	stroke: steelblue;
	stroke-width: 3;
	fill: none;
}

.axis {
  shape-rendering: crispEdges;
}

.x-axis line {
  stroke: lightgrey;
}

.x-axis .minor {
  stroke-opacity: .5;
}

.x-axis path {
  display: none;
}

.y-axis line, .y-axis path {
  fill: none;
  stroke: #000;
}