
#cluster_box {
	position: relative;
	margin-top: 20px;
	
}

.knob_row{
	width: 100%;
	height: 115px;
	display: inline-block;
	float: left;	
}

.knob_row li{
	display: inline;
	float:left;
	margin-bottom: 10px;
	padding: 0px;

}

.knob_row .knob_text_box{
	position: relative;
	padding: 10px;
	margin-left: 20px;
	bottom: 20px;
	font-family: Helvetica;
	font-size: 14px;
	font-weight: 100;
	text-align: left;
	vertical-align: top;
	width: 70%;
}

.knob_text_change {
	font-size: 18px;
}

#settings_save_btn {
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-family: Helvetica;
	font-weight: 100;
	font-size: 14px;
	border: 3px solid #333;
	padding: 5px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	top: 10px;
	right: 10px;
	color: #333;
}

#settings_save_btn:hover {
	opacity: .5;
}