
#viz-menu-box{
	position: relative;
	top: 5px;
	left: 10px;
	display: inline;
	text-align: center;
}

#viz-menu-box li a img{
	min-height: 30px;
	min-width: 30px;
	border: 1px solid black;
}

#viz-menu-box li{
	float: left;
	display: inline-block;
	margin-left: 10px;
}

#viz_tag {
	position: relative;
	font-size: 21px;
	top: 5px;
}