/******** MANAGE DATA HEADER ********/
.data_title{
	position: relative;
	font-family: Helvetica;
	margin-top: 10px;
	font-size: 25px;
}

#top_row {
	position: relative;
	margin-top: 20px;
}

#data_img{
	position: relative;
	border: none;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15px;
	max-height: 35%;
	max-width: 80%;
}

#summary_left{
	border: none;
	text-align: left;
}

#summary_right{
	margin-top: 20px;
	border: none;
}

#summary_p_box{
	text-align: left;
	border: 2px solid #aaa;
	width: 77%;
	background-color: #eee;
	margin-top: 10px;
	margin-left: 32px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.summary_p {
	position: relative;
	font-size: 18px;
	margin: 0px;
	padding: 0px;
}

#img_box {
	background: #fff;
	border: 2px solid #333;
	width: 23%;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	width: 225px;
	min-height: 110px;
	margin: 0px auto;
}

#img_box p{
	position: relative;
	top: 10px;
}

#analyze{
	display: inline-block;
	float: left;
	width: 100%;
	margin-bottom: 0px;
	margin-top: 20px;
	margin-left: 20px;
	padding: 0px;
}

#analyze li{
	float: left;
	display: inline;
}

#analyze_img{
	position: relative;
	height: 30px;
	width: 30px;
	top: -8px;
	margin-left: 10px;
}

#analyze_img:hover{
	opacity: .5;
}

#data_settings_btn{
	height: 30px;
}

#data_run_btn {
	font-family: Century;
	font-size: 13px;
	text-transform: uppercase;
	color: red;
	border: 3px solid #333;
	padding: 8px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

#data_run_btn:hover {
	border: 3px solid red;
	opacity: .5;
}

#dataset_view {
	height: 100%;
	padding: 10px;
	min-height: 420px;
}

/******** SUMMARY ********/
#data_summary_btn{
	position: relative;
	font-size: 20px;
	margin-right: 15px;
	color: blue;
	text-decoration: none;
	bottom: 2px;
}

#data_summary_btn:hover {
	opacity: .5;
}

#summary_box {
	position: relative;
	width: 99%;
	border: 2px solid #333;
	margin-left: 0px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	height: 500px;
}

#summary_info {
	text-align: left;
	font-family: Helvetica;
	font-size: 14px;
	padding: 10px;
	font-weight: 100;
}


#analyze li.simple_stats_link{
	clear: left;
	position: relative;
	margin-top: 5px;
	display: inline;
	width: 80%;
	border: 3px solid #333;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.simple_stats_link span{
	font-weight: 100;
	position: relative;
	margin-top: 5px;
	margin-left: 15px;
	font-size: 20px;
	position: relative;
	margin-bottom: 5px;
	float: left;
	width: 100px;
	color: #333;
}

.simple_stats_link img{
	position: relative;
	left: 30px;
	margin-top: 5px;
	padding: 0px;
	height: 30px;
	width: 35px;
}

#analyze li.simple_stats_link:hover {
	cursor: pointer;
	border: 3px solid #006600;
}

#data_img_sub1{
	position: relative;
	height: 30px;
	padding: 0px;
	margin-bottom: 0px;
	margin-top: 0px;
	margin-left: -3px;
}

#data_img_sub2{
	position: relative;
	height: 24px;
	width: 23px;
	padding: 0px;
	margin-bottom: 0px;
	margin-top: 3px;
}

#data_img_sub3{
	position: relative;
	height: 24px;
	width: 23px;
	padding: 0px;
	margin-bottom: 0px;
	margin-top: 3px;

}

#simple_stats .simple_stats_img {
	border: none;
	width: 30px;
}

#delete {
	clear: left;
	float: left;
	width: 80%;
	margin-top: 10px;
	margin-left: 25px;
	border: 1px solid #bbb;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	margin-bottom: 10px;
	padding: 5px;
}

#delete span{
	position: relative;
	font-size: 17px;
	color: #111;
	margin-left: 20px;
}

#delete:hover{
	border: 1px solid red;
}

#delete img{
	clear: left;
	position: relative;
	float: left;
	left: 5px;
	top: 0px;
	margin-right: 0px;
	padding: 0px;
	border: none;
	height: 20px;
	width: 20px;
}

