/******** MANAGE DATA HEADER ********/
#manage_hdr {
	font-size: 25px;
	font-family: Century;
	margin-top: 0px;
	padding: 0px;
	height: 40px;
	position: relative;
}

#manage_links {
	position: relative;
	bottom: 50px;
	margin-right: 75px;
	text-align:center;
}

#manage_links li{
	position: relative;
	display:inline;
	margin-left: auto;
	margin-right: auto;
}

#manage_links li a{
	display: inline-block;
	color: #111;
  border: 1px solid #222;
	border-radius: 10px;
	margin-left: 20px;
	margin-right: 20px;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
}

#manage_links li a:focus;{
	color: #006600;
}

#manage_links li a:hover{
	background-color: #333;
	color: #fff;
	opacity: .9;
}

.back_arrow{
	position: relative;
	background: #fff !important;
	top: 18px;
	left: 20px;
	padding: 0px;
	border: none;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
}

#manage_links .back_arrow a{ 
	border: none
}

#manage_links .back_arrow a:hover{ 
	background: #fff;
	opacity: .5;
}

.back_arrow_img:hover{
	background: #fff;
}

#back_arrow_img{
	margin: 0px;
	height: 45px;
	width: 45px;
	padding: 0px;
	-moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}