{% extends "base.html" %}
{% block js_head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/jqueryui-editable.css') }}">

<script type='text/javascript' src='http://code.jquery.com/jquery-git.js'></script>
<script type='text/javascript' src="{{ url_for('static', filename='assets/js/jqueryui-editable.js') }}"></script>
<script type='text/javascript' src="http://vitalets.github.com/x-editable/assets/mockjax/jquery.mockjax.js"></script>
<script type='text/javascript' src="http://vitalets.github.com/x-editable/assets/jquery-ui-1.9.1.custom/js/jquery-ui-1.9.1.custom.js"></script>
<link rel="stylesheet" type="text/css" href="http://vitalets.github.com/x-editable/assets/jquery-ui-1.9.1.custom/css/redmond/jquery-ui-1.9.1.custom.css">
<script type="text/javascript" src="{{ url_for('static', filename='assets/js/jquery.easytabs.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='assets/js/jquery.hashchange.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='assets/js/profile_editable.js') }}"></script>
<script type="text/javascript"> 
  $(document).ready(function(){ $('#tab-container').easytabs(); });
</script>

<script type="text/javascript">

</script>
{% endblock %}

{% block content %}
	<!-- START PAGE WRAPPER -->
	<div class="container main-wrapper">

		<!-- START SIDEBAR -->
		<div id="sidebar-left" class="four columns">
			
			<div class="widget">
				<div class="alignleft caption">
					<img src="{{ url_for('static', filename='images/anna.jpg') }}" alt="" class="border" title="Align Left" width="150" />
					<p id="profile_sub_text">Anna C. Matejcek</p>
				</div>
			</div><!-- widget -->
			<div class="widget clearfix">
				<h6>Profile </h6>
				<ul class="tags">
					<li><a href="#tab-info" class="button tag-button">Info</a></li>
					<li><a href="#tab-stats" class="button tag-button">Statistics</a></li>
				</ul>
			</div><!-- widget -->
		</div><!-- sidebar -->
		
		<!-- START TAB PROFILE -->
		<div id="main-content" class="twelve columns">
		<div id="tab-container">
			<ul style="display:none">
			<li><a href="#tab-info" class="button tag-button">Info</a></li>
			<li><a href="#tab-projects" class="button tag-button">Projects</a></li>
			<li><a href="#tab-stats" class="button tag-button">Statistics</a></li>
			</ul>
			
			<div id="tab-info">
				<table> 
				<tr>
					<td>Biography</td>
					<td><a href="#" id="bio" data-type="textarea" data-pk="1" data-original-title="Enter username" class="editable editable-click editable-open">Assisted attorneys with policy and legal advocacy aimed at protecting women’s rights. Issue areas I focused on are military combat exclusion policies, domestic violence and discriminatory sex-separated public school programs. My responsibilities included indexing materials provided in response to our Freedom of Information Act (FOIA) requests, conducting background research and fact checking.</a></td>
				</tr>

				<tr>
					<td>Name</td>
					<td><a href="#" id="name" data-type="text" data-pk="1" data-original-title="Enter username" class="editable editable-click editable-open">Anna M. Matejcek</a></td>	
				</tr>

				<tr>
					<td>Organization</td>
					<td><a href="#" id="org" data-type="text" data-pk="1" data-original-title="Enter username" class="editable editable-click editable-open">American Civil Liberties Union</a></td>	
				</tr>
				
				<tr>
					<td>Phone</td>
					<td><a href="#" id="phone" data-type="text" data-pk="1" data-original-title="Enter username" class="editable editable-click editable-open">401-248-5622</a></td>	
				</tr>
				
				<tr>
					<td>E-mail</td>
					<td><a href="#" id="email" data-type="text" data-pk="1" data-original-title="Enter username" class="editable editable-click editable-open">anna.matejcek@gmail.com</a></td>	
				</tr>
				
				<tr>
					<td>Website</td>
					<td><a href="#" id="website" data-type="text" data-pk="1" data-original-title="Enter username" class="editable editable-click editable-open">http://www.citizenj.org</a></td>	
				</tr>
				
				</table>
				<button id="enable" class="btn">Edit</button>
			</div><!-- tab-info -->
			
			<div id="tab-stats">
				<img src="images/blog/img-post03.jpg" alt="" class="border" title="Align Left" width="150" />
			</div>
				
			</div><!-- main-content -->
		</div><!-- tab-container -->
	</div><!-- .container -->
	<!-- END BLOG WRAPPER -->
{% endblock %}
{% block js %}

{% endblock %}





