{% extends "base.html" %}
{% block js_head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/data/data.css') }}"/>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/data/data_settings.css') }}"/>
<script type="text/javascript" src="{{ url_for('static', filename='assets/lib/knob/jquery.knob.js') }}"></script>
{% endblock %}
{% block content %}
<div class="onerow" id="top_row">

	<div class="col12 last" id="summary_box">
		<div class="data_title">Experiment Settings</div>
		<div id="data_content">
			<a id="settings_save_btn" href="#">Save Settings</a>
			
			<div class="knob_cont">
				<ul class="knob_row">
					<li>
						<input id="knob_cluster" class="knob" data-height="100" data-width="100" data-min="0" 
						data-max="50" data-displayInput="true" data-cursor="true" data-fgColor="#006600" data-thickness=.5 value="0"> 
						<h3># of Clusters</h3>
					</li>
					<li class="knob_text_box">
						<h3 id="knob_cluster_text" class="knob_text_change">Automatically Learning the Optimal Number of Clusters</h3>
						<p class="knob_text">
							This knob controls the number of clusters you can specify. Set it to 0 if you wish the algorithm to automatically
							learn the number of clusters automatically. However, if you're feeling bold, you can set it to a fixed number of
							clusters or set it to a low number to expedite learning. 
						</p>
					</li>
				</ul>
			</div>
			
			<div class="knob_cont">
				<ul class="knob_row">
					<li>
						<input id="knob_minibatch" class="knob" data-height="100" data-width="100" data-min="1" 
						data-max="100" data-displayInput="true" data-cursor="true" data-fgColor="#ff0000" 
						data-displayPrevious="true" data-thickness=.5 value="1"> 
						<h3>MiniBatch Sizes</h3>
					</li>
					<li class="knob_text_box">
						<h3 id="knob_minibatch_text" class="knob_text_change">1% of the Data will be Analyzed at Every Iteration</h3>
						<p class="knob_text">
							The minibatch knob changes the percentage of the entire dataset that the algorithm looks at during each iteration. 
							Larger percentages can provide better results, but at the cost of increased running time. Smaller percentages can finish an
							analysis sooner, but might result in poorer results.
						</p>
					</li>
				</ul>
			</div>
			
			<div class="knob_cont">
				<ul class="knob_row">
					<li>
						<input id="knob_runs" class="knob" data-height="100" data-width="100" data-min="1" 
						data-max="10" data-displayInput="true" data-cursor="true" data-fgColor="#000099" 
						data-thickness=.5 value="1"> 
						<h3># of Runs</h3>
					</li>
					<li class="knob_text_box">
						<h3 id="knob_runs_text" class="knob_text_change">Initializing Algorithm with a Single Run</h3>
						<p class="knob_text">
							This knob controls the number of clusters you can specify. Set it to 0 if you wish the algorithm to automatically
							learn the number of clusters automatically. However, if you're feeling bold, you can set it to a fixed number of
							clusters or set it to a low number to expedite learning. 
						</p>
					</li>
				</ul>
			</div>
		</div>
	</div>
	{% include 'headers/data_header.html' %}		
</div>
{% endblock %}

{% block js %}
<script type="text/javascript" src="{{ url_for('static', filename='assets/js/analysis/analysis_run.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='assets/js/settings/settings_knob.js') }}"></script>
{% endblock %}