{% extends "base.html" %}
{% block js_head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/data/data.css') }}"/>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/data/data_experiments.css') }}"/>
<script type="text/javascript" src="{{ url_for('static', filename='assets/lib/d3/d3.v3.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='assets/lib/nested_accordion/jquery.cbpNTAccordion.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='assets/lib/nested_accordion/modernizr.custom.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='assets/js/visual/mlrun.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='assets/js/analysis/analysis_run.js') }}"></script>
{% endblock %}

{% block content %}
<div class="onerow" id="top_row">
	<div class="col9 last" id="summary_box">
	<div class="data_title">Experiments</div>
		<div id="data_content" class="main">
			
			<ul id="cbp-ntaccordion" class="cbp-ntaccordion">
				<li id="curr_exp">
					<h3 class="cbp-nttrigger">Current Experiment</h3>
					<div class="cbp-ntcontent">
						<ul class="cbp-ntsubaccordion">
							<li>
								<h4 class="cbp-nttrigger">Algorithm Performance</h4>
								<p class="cbp-current"> </p>
								<div id="viz1" class="cbp-ntcontent"></div>
							</li>
						</ul>
					</div>
				</li>
								
				<li>
					<h3 class="cbp-nttrigger">Experiment 1</h3>
					<div class="cbp-ntcontent">
						<p>Jelly sweet roll dragée gummies. Jelly-o cotton candy gingerbread. Dessert tart bear claw gummi bears I love oat cake cotton candy sesame snaps carrot cake. Croissant marshmallow tiramisu icing soufflé chocolate cake. I love pie icing. Sweet I love sweet roll cheesecake dessert. Tiramisu gingerbread I love. Muffin chocolate cake powder cheesecake oat cake tootsie roll candy soufflé. Brownie toffee powder tiramisu. Wafer I love jujubes croissant. Chocolate cake candy jujubes tootsie roll bonbon toffee I love. Topping candy jelly-o. Halvah faworki I love I love toffee pastry icing chupa chups. Pie gingerbread candy canes oat cake.</p>
						<ul class="cbp-ntsubaccordion">
							<li>
								<h4 class="cbp-nttrigger">Donut pastry</h4>
								<div class="cbp-ntcontent">
									<p>Gingerbread cotton candy halvah gingerbread. Apple pie wypas liquorice I love chocolate cake I love. Jelly cotton candy wypas lemon drops. Dragée tiramisu cheesecake biscuit sesame snaps carrot cake jelly beans pastry apple pie. Chocolate cake cotton candy candy canes brownie ice cream. Muffin chocolate cake jelly-o cake pudding. Jujubes I love cookie. I love cupcake I love bear claw sweet croissant. Wypas bonbon chocolate cake bonbon bear claw gummies. Liquorice danish jelly tootsie roll. I love danish icing lemon drops dessert pie jujubes. Fruitcake wafer I love biscuit. Donut pastry apple pie sugar plum soufflé ice cream tart bonbon candy.</p>
								</div>
							</li>
							<li>
								<h4 class="cbp-nttrigger">Carrot cake</h4>
								<div class="cbp-ntcontent">
									<p>Wafer muffin cupcake apple pie tootsie roll I love. Carrot cake apple pie I love dessert. I love carrot cake lollipop jelly jelly-o brownie cake. Croissant brownie donut gingerbread dessert icing. Sugar plum jelly candy pudding liquorice liquorice cotton candy pie. Powder sesame snaps I love chocolate bar bonbon. Pudding gummi bears donut applicake carrot cake I love I love icing cake.</p>
								</div>
							</li>
						</ul>
					</div>
				</li>
				
				<li>
					<h3 class="cbp-nttrigger">Experiment 2</h3>
					<div class="cbp-ntcontent">
						<p>Cotton candy chocolate cake macaroon applicake I love. Tart soufflé I love powder. I love tiramisu lollipop pie. Pudding gummi bears sweet. Candy chocolate I love jujubes pie donut. Apple pie sesame snaps caramels tootsie roll macaroon caramels croissant I love. Sweet roll chocolate lemon drops. I love I love muffin gummi bears I love cotton candy.</p>
						<ul class="cbp-ntsubaccordion">
							<li>
								<h4 class="cbp-nttrigger">Cookie ice cream</h4>
								<div class="cbp-ntcontent">
									<p>Liquorice jelly-o oat cake gingerbread chocolate caramels chupa chups muffin candy. I love dessert biscuit halvah lemon drops. Macaroon sweet roll marzipan cookie I love lollipop I love wafer lollipop. Caramels candy pudding brownie. Oat cake cake gingerbread bear claw croissant dessert. Lemon drops oat cake sugar plum wypas cupcake fruitcake liquorice. Muffin wafer tootsie roll caramels. I love brownie powder icing marzipan dragée. Pie fruitcake soufflé sweet roll faworki candy canes I love. Jelly-o carrot cake donut cheesecake.</p>
								</div>
							</li>
							<li>
								<h4 class="cbp-nttrigger">Biscuit chupa chups tart</h4>
								<div class="cbp-ntcontent">
									<p>Sweet muffin fruitcake. Marshmallow dessert gummies dragée. Dragée pudding caramels toffee I love I love. Pie candy canes soufflé candy jelly-o marshmallow marshmallow. Biscuit danish jelly beans lollipop sweet sesame snaps oat cake. I love chupa chups cake ice cream ice cream applicake tart. Dessert muffin chocolate bar.</p>
								</div>
							</li>
						</ul>
					</div>
				</li>	
			</ul>
			
		</div>
	</div>
	{% include 'headers/data_header.html' %}		
</div>
{% endblock %}
{% block js %}
<script type="text/javascript">
$( function() {
	$( '#cbp-ntaccordion' ).cbpNTAccordion();
} );
</script>
{% if datainfo.status == 'inprogress' %}
	<script type="text/javascript">	
		$("#curr_exp").addClass("cbp-ntopen");
		var status = "<p class='cbp-current'>Experiment in Progress</p>";
		$(".cbp-current").replaceWith(status);
	</script>
{% elif datainfo.status == 'start' %}
	<script type="text/javascript">
		$("#curr_exp").addClass("cbp-ntopen");
		var elbo_val = new Object();
		elbo_val.data=[[]];
		elbo_val.iter=[];
		var container = d3.select("#data_content");
		elbo = d3.mlrun.line(700, 250, '#viz1');
		container.datum(elbo_val).call(elbo);
		analysis_run(elbo_val);
	</script>
{% else %}
	<script type="text/javascript">	
		$("#curr_exp").addClass("cbp-ntopen");
		var status = "<p class='cbp-current'>There are currently no experiments running at this time</p>";
		$(".cbp-current").replaceWith(status);
	</script>
{% endif %}

{% endblock %}