{% extends "base.html" %}
{% block js_head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/data/data.css') }}"/>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/data/data_visual.css') }}"/>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/jquery-ui.css') }}"  />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/elastic/elastislide.css') }}"  />
<script type="text/javascript" src="{{ url_for('static', filename='assets/lib/elastic/modernizr.custom.17475.js') }}"></script>
{% endblock %}

{% block content %}
<div class="onerow" id="top_row">
	<div class="col12 last" id="summary_box">
		<div id="data_content">
			
			<div class="onerow">
				<!-- INTERACTIVE JOURNAL PREVIEW -->
				<div class="col12 last" id="d3_canvas">
					<div id="viz1"></div>
				</div>
			</div>

			<div class="onerow">
				<div class="col12 last" id="visual_title_box">
					<ul id="visual_title">
						<li><h3> Title of this Visualization </h3><li>
						<li class="document_icon">
							<a id="button-save" href="">
								<img src="{{ url_for('static', filename='images/icons/iconmonstr-photo-camera-8-icon.png') }}"> 
							</a>
						</li>
					</ul>
				</div>
			</div>

			
		</div>
	</div>		
</div>
<div class="onerow" id="bottom_row">
	{% include 'headers/data_header.html' %}
	<div class="col9 last" id="visual_nav">
		<div class="column">
			<ul id="carousel" class="elastislide-list">
				<li><a href="#" class="slider"><img class="article_canvas" src="{{ url_for('static', filename='images/hopper-morning-sun.jpg') }}" alt=""></a></li>
				<li><a href="#" class="slider"><img class="article_canvas" src="{{ url_for('static', filename='images/hopper-chop-suey.jpg') }}" alt=""></a></li>
				<li><a href="#" class="slider"><img class="article_canvas" src="{{ url_for('static', filename='images/hopper-gas.jpg') }}" alt=""></a></li>
				<li><a href="#" class="slider"><img class="article_canvas" src="{{ url_for('static', filename='images/hopper-early-sunday-morning.jpg') }}" alt=""></a></li>
				<li><a href="#" class="slider"><img class="article_canvas" src="{{ url_for('static', filename='images/hopper-nighthawks.jpg') }}" alt=""></a></li>
								<li><a href="#" class="slider"><img class="article_canvas" src="{{ url_for('static', filename='images/hopper-morning-sun.jpg') }}" alt=""></a></li>
				<li><a href="#" class="slider"><img class="article_canvas" src="{{ url_for('static', filename='images/hopper-chop-suey.jpg') }}" alt=""></a></li>
				<li><a href="#" class="slider"><img class="article_canvas" src="{{ url_for('static', filename='images/hopper-gas.jpg') }}" alt=""></a></li>
				<li><a href="#" class="slider"><img class="article_canvas" src="{{ url_for('static', filename='images/hopper-early-sunday-morning.jpg') }}" alt=""></a></li>
				<li><a href="#" class="slider"><img class="article_canvas" src="{{ url_for('static', filename='images/hopper-nighthawks.jpg') }}" alt=""></a></li>
								<li><a href="#" class="slider"><img class="article_canvas" src="{{ url_for('static', filename='images/hopper-morning-sun.jpg') }}" alt=""></a></li>
				<li><a href="#" class="slider"><img class="article_canvas" src="{{ url_for('static', filename='images/hopper-chop-suey.jpg') }}" alt=""></a></li>
				<li><a href="#" class="slider"><img class="article_canvas" src="{{ url_for('static', filename='images/hopper-gas.jpg') }}" alt=""></a></li>
				<li><a href="#" class="slider"><img class="article_canvas" src="{{ url_for('static', filename='images/hopper-early-sunday-morning.jpg') }}" alt=""></a></li>
				<li><a href="#" class="slider"><img class="article_canvas" src="{{ url_for('static', filename='images/hopper-nighthawks.jpg') }}" alt=""></a></li>
			</ul>
		</div>	
	</div>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript" src="{{ url_for('static', filename='assets/lib/d3/d3.v3.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='assets/js/visual/d3.layout.cloud.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='assets/js/visual/mlrun.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='assets/lib/elastic/jquery.elastislide.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='assets/lib/elastic/jquerypp.custom.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='assets/lib/svgenie/rgbcolor.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='assets/lib/svgenie/canvg.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='assets/lib/svgenie/svgenie.js') }}"></script>

<script type="text/javascript">
 $("#button-save").on('click', function(){
            svgenie.save( document.getElementById('d3_svg'), { name:"this-test.png" } ); 
        });
</script>

<script type="text/javascript">
	donut = d3.mlrun.donut(400,'#viz1');
	wc = d3.mlrun.word_cloud(100,"#viz1");
	var container = d3.select("#d3_canvas");

	function update_pi() {
	    var data = d3.range(~~(Math.random() * 20)).map(function(d, i) {
	        return ~~(Math.random() * 100);
	    });
	    container.datum(data).transition().ease("linear").call(donut);
	}

	var words1 = ["Hello", "world", "normally", "you", "want", "more", "words","than", "this"];
	var words2 = ["House", "big", "dog", "can", "should", "Dostoevsky", "Anna_Karenina","good", "now"];

	function update_words(words) {
		d3.selectAll("text").remove();
		container.datum(words).transition().call(wc);
	}

	update_pi();
			
	$( '#carousel' ).elastislide( {
		orientation : 'horizontal',
		minItems: 4
	} );
	
	$( "#carousel li img" ).click(function() {
		$(".article_canvas").css("border","none");
		var main_src = $("#article_main_img").attr("src");
		var list_src = $(this).attr("src");
		var list_append = ' <li><a href="#"><img class="article_canvas" src=" ' + main_src + ' "></a></li>'; 
		var main_replace = ' <img id="article_main_img" src="' + list_src + '" alt=""> ';
		
		$(this).css("border","2px solid red");
		$('#article_main_img').replaceWith(main_replace);
	});
</script>
{% endblock %}