{% extends "base.html" %}
{% block js_head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/manage/listing.css') }}"  />
<script type="text/javascript" src="{{ url_for('static', filename='assets/lib/dropdown/modernizr.custom.63321.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='assets/lib/mixitup/jquery.mixitup.js') }}"></script>

{% endblock %}

{% block content %}
	<div class="onerow" >
		<div class="col3" id="filter_listing_cont">
			<ul id="dr_links">
				{% if page == 'data' %}
					<li><button id="data_btn" class="nav ui-state-active"><a  href="{{ url_for('manage_data', username=g.user.username)  }}"  id="data_tab">Datasets </a></button></li>
					<li><button id="reports_btn" class="nav"><a  href="{{ url_for('manage_reports', username=g.user.username)  }}" id="reports_tab">Reports</a></button></li>
				{% else %}
					<li><button id="data_btn" class="nav"><a  href="{{ url_for('manage_data', username=g.user.username)  }}"  id="data_tab">Datasets </a></button></li>
					<li><button id="reports_btn" class="nav ui-state-active"><a  href="{{ url_for('manage_reports', username=g.user.username)  }}" id="reports_tab">Reports</a></button></li>
				{% endif %}
			</ul>
			<div class="controls">
				<div class="fleft">
					<select id="filter-sort" name="cd-dropdown" class="cd-select">
						<option value="-1" selected>Sort</option>
						<option value="1">Recent</option>
						<option value="2">Oldest</option>
						<option value="3">Large</option>
						<option value="3">Small</option>
					</select>
				</div>
				<div class="fleft">
					<select id="filter-access" name="cd-dropdown" class="cd-select">
						<option value="-1" selected>Access</option>
						<option value="1">Public</option>
						<option value="2">Shared</option>
						<option value="3">Personal</option>
					</select>
				</div>
				<div class="fleft">
					<select id="filter-type" name="cd-dropdown" class="cd-select">
						<option value="-1" selected>Type</option>
						<option value="all">All Data</option>
						<option value="category_1">Documents</option>
						<option value="category_2">Networks</option>
						<option value="category_3">Other</option>
					</select>
				</div>

				<input type="text" id="search_input" value="Search"></input>
			</div>
		</div>
		
		<div class="col9 last" id="data_listing_cont">
			<div  id="listing_sub_hdr">
			{% if page == 'data' %}
				<div class="fleft" id="new-data-menu">
					<select id="new-data" name="cd-dropdown" class="cd-select">
						<option value="-1" selected>+ New Data</option>
						<option value="{{ url_for('upload_manual', username=g.user.username )  }}">Manual Upload</option>
						<option value="{{ url_for('upload_doc_cloud', username=g.user.username)  }}" >Document Cloud</option>
					</select>
				</div>
			{% else %}
				<div id="new-data-menu" >
					<ul id="new-report-list">
						<li><a href="{{ url_for('new_report',  username=g.user.username )  }}">
							+ New Report </a>
						</li>
					</ul>
				</div>
			{% endif %}
			</div>
			
			<ul id="Grid">
				{% if page == 'data' %}	
					{% for data_id,name,summary,savename in data %}
						<li class="mix category_{{ loop.index }}">
							<a href="{{ url_for('update_view', data_id=data_id, username=g.user.username, type='summary' )  }}"><img src="/static/users/{{g.user.username}}/datasets/{{savename}}/upload_image.jpg"></a>
							<h3 >{{ name }}</h3>
						</li>
					{% endfor %}
				{% else %}
					
				{% endif %}
			</ul>
		</div>
	</div>
	
{% endblock %}
{% block js %}

<script type="text/javascript" src="{{ url_for('static', filename='assets/lib/dropdown/jquery.dropdown.js') }}"></script>
<script type="text/javascript">
$('#Grid').mixitup();
$( function() {
	$( '#filter-type' ).dropdown( {
		gutter : 5,
		stack : false,
		slidingIn : 100
	} );
	$( '#filter-sort' ).dropdown( {
		gutter : 5,
		stack : false,
		slidingIn : 100
	} );
	$( '#filter-access' ).dropdown( {
		gutter : 5,
		stack : false,
		slidingIn : 100
	} );
	$( '#new-data' ).dropdown( {
		gutter : 5,
		stack : false,
		slidingIn : 100
	} );
	$( '#new-report' ).dropdown( {
		gutter : 5,
		stack : false,
		slidingIn : 100
	} );
});

$(".cd-select").on("change",function(){
    item = $(this).val();
	console.log(item);   
    $('#Grid').mixitup('filter',item);
});

/*
$('.filter2').click(function(){
	$('.filter2').removeClass('clicked_control');
    $(this).toggleClass('clicked_control');
});
*/
</script>
{% endblock %}