{% extends "base.html" %}
{% block js_head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/data/data.css') }}"/>
{% endblock %}

{% block content %}
<div class="onerow" id="top_row">
	<div class="col12 last" id="summary_box">
		<div class="data_title">Data Summary</div>

		<div class="onerow">

			<div class="col4" id="summary_left">
				<img id="data_img" src="/static/users/{{g.user.username}}/datasets/{{datainfo.savename}}/upload_image.jpg" alt="">
				<div id="summary_p_box">
					<p class="summary_p"> Number of Documents: 14,233 </p>
					<p class="summary_p"> Expected Analysis Time: 2345 Minutes </p>
					<p class="summary_p"> Number of Documents: 14,233 </p>
				</div>
				<span id="delete">
					<a href="{{ url_for('delete_dataset', username=g.user.username, data_id=data_id)}}">
						<img src="{{ url_for('static', filename='images/icons/iconmonstr-x-mark-4-icon-24.png') }}" alt="delete_btn"><span>Delete Dataset</span>
					</a>
				</span>
			</div>


			<div class="col8 last" id="summary_right">
				<div id="data_content">
					<div id="option">
						{{ datainfo.summary }}
					</div>
				</div>
			</div>

		</div>
	</div>
	{% include 'headers/data_header.html' %}		
</div>
{% endblock %}

{% block js %}

{% endblock %}