{% extends "base.html" %}
{% block js_head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/manage/manage_upload.css') }}"/>


{% endblock %}
{% macro render_field(field) %}
  {{ field(**kwargs)|safe }}
  {% if field.errors %}
    <ul class=errors>
    {% for error in field.errors %}
      <li>{{ error }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}
{% block content %}

	<!-- START PORTFOLIO ITEM WRAPPER -->
	<!-- START PORTFOLIO ITEM WRAPPER -->

	<div class="onerow" id="row1">
		<!-- LEFT COLUMN TOP ROW -->
		<div class="col4" id="row1_col1">
			<form id="upload_img" class="form" action="{{ url_for('upload_img', username=g.user.username) }}" enctype="multipart/form-data" method="POST" >
				{{ form.hidden_tag() }}				    
				<div id="filedrag_img"><p>Drag image into this box.<br> (optional)</p></div>
				<input type="file"  id="fileselect_img" name="fileselect">	
				<button type="submit" id="submit_img">Upload Files</button>		
			</form>
		
			<div id="row2_col1">
				<ul id="upload_types">
					<li><a class="upload_sub" href="#"  id="data_tab">Raw Text</a></li>
					<li><a class="upload_sub" href="#"  id="upload_tab">CSV</a></li>
					<li><a class="upload_sub" href="#"  id="upload_tab">EXCEL</a></li>
					<li><a class="upload_sub" href="#"  id="upload_tab">.DAT</a></li>
				</ul>
			
				<form id="upload_data" class="form" action="{{ url_for('upload_manual_start', username=g.user.username) }}" enctype="multipart/form-data" method="POST" >
					{{ form.hidden_tag() }}
					<input type="hidden" id="MAX_FILE_SIZE" name="MAX_FILE_SIZE" value="30000000" />
					<div id="filedrag_data"><p>Drag dataset into this box.</p></div>
					<input type="file"  id="fileselect_data" name="fileselect">
					<button type="submit" id="submit_data">Upload Files</button>
				</form>					
			</div>
		</div>

	<!-- COL 2 -->
		<div class="col8 last" id="row1_col2">
			<!-- Put DATSET title and SUMMARY HERE -->
			<div id="upload_title_cont">{{ render_field(form.upload_title) }}</div>			
		    
			<div id="upload_summary_cont">{{ render_field(form.upload_summary) }}</div>
		
			<div  id="row2_col2">
				<!--- UPLOADED DATA INFO -->
				<div id="upload_status_cont">
					<ul id="upload_messages">	
						<li><p class="upload_status_text"> Instructions on how to upload your data</p></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	
	<div class="one_row" >
		<div class="col12 last" id="row3" >
			<div id="upload_progress"></div>
		</div>
	</div>
		
		
		
{% endblock %}
{% block js %}
<script type="text/javascript" src="{{ url_for('static', filename='assets/lib/filedrag/filedrag.js') }}"  /></script>
<script type="text/javascript">

$("#filedrag_data").on("drop", try_upload);

function try_upload() {
	//var ev = document.getElementById("upload_messages");
	// var evtSrc = new EventSource("/stream");
	var evtSrc = new EventSource("/stream_upload");
	evtSrc.onmessage = function(e) {
		if (e.data=='exit') {
			$("#upload_messages").append("<li class='upload_status_txt'><a href='{{ url_for('manage_data', username=g.user.username)  }}'>Go to DataPage</a></li>");
			$("#upload_status_cont").scrollTop($("#upload_status_cont")[0].scrollHeight);
			evtSrc.close();
		}
		else {
			if (e.data!='1')
				$("#upload_messages").append("<li class='upload_status_txt'>"+e.data+"</li>");
				$("#upload_status_cont").scrollTop($("#upload_status_cont")[0].scrollHeight);
		}
	};
}
</script>
{% endblock %}