{% extends "base.html" %}
{% block js_head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/manage/manage_upload.css') }}"/>


{% endblock %}

{% block content %}
	<!-- START PORTFOLIO ITEM WRAPPER -->

	<div class="onerow" id="upload_box">
		<div class="col12" id="upload_hdr">
			<h3>Placeholder to connect to the Document Cloud</h3>
		</div>	
	</div>
	
{% endblock %}
{% block js %}

{% endblock %}