<!-- START PORTFOLIO ITEM WRAPPER -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/data/data_box.css') }}"  />
<div class="col3" id="img_box">
		<ul id="analyze">
			<li >
				<a id="data_summary_btn" href="{{ url_for('update_view', username=g.user.username, data_id=data_id, type='summary')}}"> Summary </a>
			</li>
	   		<li>
				<form id="data_run" action="{{ url_for('run_analysis', username=g.user.username, data_id=data_id)}}" method="GET">
					<a id="data_run_btn" href="{{ url_for('update_view', username=g.user.username, data_id=data_id, type='start_experiment')}}">Run</a>
				</form>
			</li>
	    	<li>
				<a id="data_settings_btn" href="{{ url_for('update_view', username=g.user.username, data_id=data_id, type='settings')}}">
				<img id="analyze_img" src="{{ url_for('static', filename='images/icons/iconmonstr-gear-icon-48.png') }}" alt="Settings">
				</a>
			</li>	
		</ul>

		<ul id="viz-menu-box">

			<li>
			<a id="data_settings_btn" href="{{ url_for('update_view', username=g.user.username, data_id=data_id, type='visual')}}">
			<img id="data_img_sub3" src="{{ url_for('static', filename='images/icons/iconmonstr-line-chart-4-icon-64.png') }}" alt="Statistics">
			</a>
			</li>

			<li>
			<a id="data_settings_btn" href="{{ url_for('update_view', username=g.user.username, data_id=data_id, type='visual')}}">
			<img id="data_img_sub3" src="{{ url_for('static', filename='images/icons/iconmonstr-book-17-icon.png') }}" alt="Dataset Summary">
			</a>
			</li>
		</ul>
	</div>
</div>

</script>
