<!-- START PORTFOLIO ITEM WRAPPER -->
<div class="onerow">
	<div class="col12" id="manage_hdr">
		<ul id="manage_links">
			<li><a class="manage_sub" href="{{ url_for('manage_data', username=g.user.username)  }}"  id="data_tab">Datasets </a></li>
			<li><a class="manage_sub visited_link" href="{{ url_for('manage_reports', username=g.user.username)  }}" id="reports_tab">Reports</a></li>
		</ul>
	</div>
</div>