
<!-- START PORTFOLIO ITEM WRAPPER -->
<div class="onerow">
	<div class="col12" id="manage_hdr">
		<ul id="manage_links">
			<li><a class="manage_sub" href="{{ url_for('upload_doc_cloud', username=g.user.username )  }}"  id="data_tab">Document Cloud </a></li>
			<li><a class="manage_sub" href="{{ url_for('upload_manual', username=g.user.username)  }}"  id="upload_tab">Manual Upload</a></li>
		</ul>
	</div>
</div>
