
/*form styles*/
#msform {
	width: 90%;
	height: 100%;
	margin: 0 auto;
	text-align: center;
	position: relative;
}

#msform img{
	height: 120px;
	width: auto;
}

#msform fieldset {
	background: white;
	border: 0 none;
	border-radius: 3px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding: 10px;
	text-align: center;
	box-sizing: border-box;
	width: 100%;

	/*stacking fieldsets above each other*/

}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
	display: none;
}
/*inputs*/
#msform input, #msform textarea {
	padding: 15px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 10px;
	width: 70%;
	box-sizing: border-box;
	font-family: montserrat;
	color: #2C3E50;
	font-size: 13px;
}
/*buttons*/
#msform .action-button {
	position: relative;
	width: 100px;
	background: #47a3da;
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	padding: 10px 5px;
	margin: 10px 5px;
}
#msform .action-button:hover, #msform .action-button:focus {
	box-shadow: 0 0 0 2px white, 0 0 0 3px #47a3da;
}
/*headings*/
.fs-title {
	font-family: Century;
	font-size: 18px;
	text-transform: uppercase;
	color: #006600;
	font-weight: 100;
	padding: 5px;
}
.fs-subtitle {
	font-family: Century;
	margin: 0 auto;
	text-align: left;
	line-height: 20px;
	width: 80%;
	font-size: 14px;
	color: #006600;
}
/*progressbar*/
#progressbar {
	margin-bottom: 20px;
	overflow: hidden;
	/*CSS counters to number the steps*/
	counter-reset: step;
}
#progressbar li {
	text-align: center;
	list-style-type: none;
	color: #333;
	text-transform: uppercase;
	font-size: 12px;
	width: 33%;
	float: left;
	position: relative;
}
#progressbar li:before {
	content: counter(step);
	counter-increment: step;
	width: 40px;
	line-height: 30px;
	display: block;
	font-size: 20px;
	color: #333;
	background: white;
	border-radius: 3px;
	margin: 0 auto 5px auto;
}
/*progressbar connectors*/
#progressbar li:after {
	content: '';
	width: 100%;
	height: 2px;
	background: white;
	position: absolute;
	left: -50%;
	top: 13px;
	z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
	/*connector not needed before the first step*/
	content: none; 
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
	background: #ffcccc;
	color: white;
}


h3 {
	font-size: 15px;
}

.controls{
	display: inline-block;
	width: 100%;
	margin: 0 auto;
	vertical-align: top;
}

.controls li{
	margin-left: auto;
	margin-right: auto;
	cursor: pointer;
	list-style-type: square;
	padding: 10px;
}

.controls li:hover{
	color: #993300;
}

.clicked_control{
	border: 1px solid #993300;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	color: #993300;
}

#Grid{
	height: 100%;
	text-align: center;
	font-size: 0.1px;
}

#Grid:after{
	content: '';
	display: inline-block;
	width: 100%;
}

#Grid img{
	margin-left: auto;
	margin-right: auto;
}

#Grid .mix{
	display: none;
	opacity: 0;
	height: 100%;
	vertical-align: top;
	color: #fff;
	font-size: 10px;
	text-align: center;
}

#Grid li{
	padding: 10px;
}

#Grid .gap{
	display: inline-block;
	width: 200px;
}

#dataset_filter li{
	display: inline;
	font-size: 15px;
}	

#dataset_filter li a{
	text-decoration: none;
}

#step2{
	margin: 0 auto;
	margin-right: 20px;
	text-align: center;
	height: 350px;
}

#step2 li{
	display: inline-block;
	position: relative;
	bottom: 20px;
	padding: 30px;
}

#step2 li img{
	width: 300px;
	height: auto;
}

#step3 {
	text-align: left;
}

#step3 li{
	display: inline-block;
	position: relative;
	margin-left: 80px;
}

