/* Elastislide Style */
.slider:hover {
	opacity: .5;
}

.elastislide-list {
	list-style-type: none;
	display: none;
}

.no-js .elastislide-list {
	display: block;
}

.elastislide-carousel ul li {
	min-width: 20px; /* minimum width of the image (min width + border) */
}

.elastislide-wrapper {
	position: relative;
	background-color: #333;
	margin-top: 7px;
	min-height: 50px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.elastislide-wrapper.elastislide-loading {
	background-repeat: no-repeat;
	background-position: center center;
}

.elastislide-vertical {
	padding: 0px;
}

.elastislide-carousel {
	overflow: hidden;
	position: relative;
}

.elastislide-carousel ul {
	position: relative;
	display: block;
	list-style-type: none;
	padding: 0;
	margin: 0;
	-webkit-backface-visibility: hidden;
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	-ms-transform: translateX(0px);
	-o-transform: translateX(0px);
	transform: translateX(0px);
}

.elastislide-horizontal ul {
	white-space: nowrap;
}

.elastislide-carousel ul li {
	margin: 0;
	-webkit-backface-visibility: hidden;
}

.elastislide-horizontal ul li {
	height: 100%;
	display: inline-block;
}

.elastislide-vertical ul li {
	display: block;
}

.elastislide-carousel ul li a {
	display: inline-block;
	width: 100%;
}

.elastislide-carousel ul li a img {
	display: block;
    margin-left: auto;
    margin-right: auto;
	max-height: 90px;
	min-height: 90px;
	min-width: 80px;
	max-width: 120px;
}


/* Navigation Arrows */

.elastislide-wrapper nav span {
	position: absolute;
	background: #ff6600 no-repeat 4px 3px;
	width: 23px;
	height: 23px;
	border-radius: 50%;
	text-indent: -9000px;
	cursor: pointer;
}

.elastislide-wrapper nav span:hover {
	opacity: .5;
}

.elastislide-vertical nav span {
	top: -10px;
	left: 50%;
	margin-left: -11px;
	background-position: -17px 5px;
}

.elastislide-vertical nav span.elastislide-next {
	bottom: -10px;
	top: auto;
	background-position: -17px -18px;
}