{% extends "layout.html" %}
{% block content %}
<h5 class="grid_12 caption clearfix">
	About Us
</h5>	
<h6 class="grid_12 caption clearfix">
<ul>
Things that need to be done.
{% for u in users %}
<li><a href="#">{{ u.nickname }} and {{u.email}}</li>
{% endfor %}
</ul>

</h6>
{% endblock %}