

{#<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">#}
{#<link href="{{ url_for('static', filename='assets/css/bootstrap.css') }}" rel="stylesheet">#}
{#<link href="{{ url_for('static', filename='assets/css/bootstrap-responsive.css') }}"#}
{#<script src="assets/js/bootstrap.js"></script>#}
</head>
  <body>
    <div class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="{{ url_for('home') }}">DataDiary</a>
          <ul class="nav">
            <li><a href="{{ url_for('about') }}">About</a></li>
            <li><a href="{{ url_for('contact') }}">Contact</a></li>
          </ul>
          {% block login %}
          {% if not session.logged_in %}
          <form class="navbar-form pull-right" action="{{ url_for('login') }}">
            <input name="username" type="text" placeholder="Username" class="span2">
            <input name="password" type="password" placeholder="Password" class="span2">
            <button class="btn">Sign in</button>
          </form>
          {% else %}
             <a href="{{ url_for('logout') }}">log out</a>
          {% endif %}
          {% endblock %}
        </div>
      </div>
    </div>
    <div class="container">
      <div class="hero-unit">
        <div>
          <h1>Hello, world!</h1>
          {% block content %}{% endblock %}
        </div>
        <a class="btn btn-primary" href="#">Learn more »</a>
      </div>

      <hr>
      <div>© Company 2012</div>
    </div>
  {% if session.logged_in %}
    <form action="{{ url_for('add_entry') }}" method=post class=add-entry>
      <dl>
        <dt>Title:
        <dd><input type=text size=30 name=title>
        <dt>Text:
        <dd><textarea name=text rows=5 cols=40></textarea>
        <dd><input type=submit value=Share>
      </dl>
    </form>
  {% endif %}
  <ul class=entries>
  {% for entry in entries %}
    <li><h2>{{ entry.title }}</h2>{{ entry.text|safe }}
  {% else %}
    <li><em>Unbelievable.  No entries here so far</em>
  {% endfor %}
  </ul>
{#
<div class=page>
<div class="hero-unit">
  <h1>MLRun</h1>
  <div class=metanav>
  {% if not session.logged_in %}
    <a href="{{ url_for('login') }}">log in</a>
  {% else %}
    <a href="{{ url_for('logout') }}">log out</a>
  {% endif %}
  </div>
  {% for message in get_flashed_messages() %}
    <div class=flash>{{ message }}</div>
  {% endfor %}
  {% block body %}{% endblock %}
</div>
</div>
#}

<!-- Sign In Menu -->
<li>
<div id="topnav" class="topnav"><a href="{{status}}" class="signin"><span>{{status}}</span></a> </div>
	<!--
	<fieldset id="signin_menu">
	    <form method="post" id="signin" action="{{ url_for('login') }}" name="login">
	      <label for="username">Username or email</label>
	      <input id="username" name="username" value="" title="username" tabindex="4" type="text">
	      </p>
	      <p>
	        <label for="password">Password</label>
	        <input id="password" name="password" value="" title="password" tabindex="5" type="password">
	      </p>
	      <p class="remember">
	        <input id="signin_submit" value="Sign in" tabindex="6" type="submit">
	        <input id="remember" name="remember_me" value="1" tabindex="7" type="checkbox">
	        <label for="remember">Remember Me</label>
	      </p>
		  <p > <a href="{{ url_for('signup') }}" class="forgot">New User?</a></p>
	      <p class="forgot"> <a href="#" id="resend_password_link" class="forgot">Forgot your password?</a> </p>
	      <p class="forgot-username"> <a id=forgot_username_link title="If you remember your password, try logging in with your email" href="#" class="forgot">
		Forgot your username?</a> </p>
	    </form>
	 </fieldset>
	-->
</li>
<!-- ENDOF Sign In Menu -->