{% extends "base.html" %}
{% block js_head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/new_analysis/new_analysis.css') }}"  />
<script type="text/javascript" src="{{ url_for('static', filename='assets/js/knob/knob.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='assets/js/knob/jquery.knob.js') }}"></script>
{% endblock %}
{% block content %}

	<!-- START PORTFOLIO WRAPPER -->
	<div class="container main-wrapper">
			<form id="msform" action="{{ url_for('submit_analysis') }}" method="post" >
				<!-- progressbar -->
				<ul id="progressbar">
					<li class="active">Choose Dataset</li>
					<li>Choose Analysis</li>
					<li>Tune Knobs</li>
				</ul>
				<!-- fieldsets -->
				<fieldset>
					<div id="step1_menu">
						<h2 class="fs-title">Choose the dataset you wish to analyze</h2>
						<h3 class="fs-subtitle">The first step in starting a new analysis is to choose your dataset. This will then tell us what algorithms can be used for this type of data. (There is currently no single algorithm to rule them all.)</h3>
						<span class="sb-icon-search"></span>
						<input class="sb-search-input" placeholder="Enter your search term..." type="text" value="" name="data_search" id="data_search">
						<input class="sb-search-submit" type="submit" value="" name="data_submit">
					</div>
					
					<div id="cbp-vm" class="cbp-vm-switcher cbp-vm-view-grid">
						<ul>
							{% for img_url,title,subtext,info in data %}
							<li>
								<a class="cbp-vm-image" href="#" value="{{img_url}}" ><img src="/static/images/paintings/{{img_url}}"></a>
								<h3 class="cbp-vm-title">{{ title }}</h3>
							</li>
							{% endfor %}
						</ul>
					</div>
					<input type='hidden' id='step1_hidden' name='myhidden_1' value=''>
					<input type="button" name="next" class="next action-button" value="Next" />
				</fieldset>
				
				
				<!-- STEP 2-->
				<fieldset>
					<h2 class="fs-title">Choose your analysis</h2>
					<h3 class="fs-subtitle">Great, you've chosen the rabico dataset from Sweden. What kind of algorithm would you like to try for this dataset? Choose from several state of the art algorithms. Some provide more advanced features, but at the cost of an extended running time.</h3>
					
					<div id="cbp-vm" class="cbp-vm-switcher cbp-vm-view-list">
						<ul>
							<li>
								<a class="cbp-vm-image" href="#"><img src="/static/images/hopper-chop-suey.jpg"></a>
								<div class="cbp-vm-details">The scalable assortative hierarchical Dirichlet process relational model is an algorithm that discovers mixed-membership latent communities.  </div>
							</li>
							
							<li>
								<a class="cbp-vm-image" href="#"><img src="/static/images/hopper-nighthawks.jpg"></a>
								<div class="cbp-vm-details">This algorithm allows for novel learning of feature-based communities. Cannot run on very large networks..</div>
							</li>
						</ul>
					</div>

					<input type="button" name="previous" class="previous action-button" value="Previous" />
					<input type="button" name="next" class="next action-button" value="Next" />
				</fieldset>
				
				
				<!-- STEP 3-->
				<fieldset>
					<h2 class="fs-title">Tune the parameters of your analysis</h2>
					<h3 class="fs-subtitle">To finish our anlaysis, you can tune its behavior to promote the learning of many clusters or to simply extend the running time of the entire analysis.</h3>
					<div id="cbp-vm" class="cbp-vm-switcher cbp-vm-view-list">
						<ul>
							<li>
								<span class="cbp-vm-image" href="#"><input class="knob" data-height="100" data-width="100" data-cursor=true data-fgColor="#006600" data-thickness=.5 value="1000"> </span></span>
						<h3 class="cbp-vm-title">Analysis Running Time</h3>
						<div class="cbp-vm-details">The longer the running time, the better your results are typically. However, the results tend to level off after a while and additional iterations of our algorithms tend to produce few benefits.</div>
							</li>
							
							<li>
									<span class="cbp-vm-image" href="#"><input class="knob" data-height="100" data-width="100" data-cursor=true data-fgColor="#3366ff" data-thickness=.5 value="1000"> </span></span>
							<h3 class="cbp-vm-title">Discovery Resolution</h3>
							<div class="cbp-vm-details">How many clusters are you looking for? Our algorithms automatically learn the right number of clusters in your data in a principled manner, but you can always bias this value if your analysis needs to discover more or less clusters.</div>
							</li>
						</ul>
					</div>
					<input type="button" name="previous" class="previous action-button" value="Previous" />
					<input type="submit" name="submit" class="submit action-button" value="Submit" />
				</fieldset>
			</form>
	
	</div><!-- .container -->
	<!-- END PORTFOLIO WRAPPER -->
{% endblock %}
{% block js %}
<script src="http://thecodeplayer.com/uploads/js/jquery-1.9.1.min.js" type="text/javascript"></script>
<script src="http://thecodeplayer.com/uploads/js/jquery.easing.min.js" type="text/javascript"></script>
<script>

//jQuery time
var current_fs, next_fs, previous_fs; //fieldsets
var left, opacity, scale; //fieldset properties which we will animate
var animating; //flag to prevent quick multi-click glitches
var step1_val, step2_val, step3_val;

$('#data_search').click(function(e) {

});

$(document).ready(function() {
    $('a.cbp-vm-image').click(function(e) {
        step1_val = $(this).attr('value');
		$('#step1_hidden').val(step1_val);
		// Remove all borders
		$('img').css('border', 'none'); //add a class to be more specific
	    $(this).find('img').css('border', 'solid 4px orange');
		// Add border for that specific image
    });
});

$(".next").click(function(){
	if(animating) return false;
	animating = true;
	
	current_fs = $(this).parent();
	next_fs = $(this).parent().next();
	
	//activate next step on progressbar using the index of next_fs
	$("#progressbar li").eq($("fieldset").index(next_fs)).addClass("active");
	
	//show the next fieldset
	next_fs.show(); 
	//hide the current fieldset with style
	current_fs.animate({opacity: 0}, {
		step: function(now, mx) {
			//as the opacity of current_fs reduces to 0 - stored in "now"
			//1. scale current_fs down to 80%
			scale = 1 - (1 - now) * 0.2;
			//2. bring next_fs from the right(50%)
			left = (now * 50)+"%";
			//3. increase opacity of next_fs to 1 as it moves in
			opacity = 1 - now;
			current_fs.css({'transform': 'scale('+scale+')'});
			next_fs.css({'left': left, 'opacity': opacity});
		}, 
		duration: 800, 
		complete: function(){
			current_fs.hide();
			animating = false;
		}, 
		//this comes from the custom easing plugin
		easing: 'easeInOutBack'
	});
});

$(".previous").click(function(){
	if(animating) return false;
	animating = true;
	
	current_fs = $(this).parent();
	previous_fs = $(this).parent().prev();
	
	//de-activate current step on progressbar
	$("#progressbar li").eq($("fieldset").index(current_fs)).removeClass("active");
	
	//show the previous fieldset
	previous_fs.show(); 
	//hide the current fieldset with style
	current_fs.animate({opacity: 0}, {
		step: function(now, mx) {
			//as the opacity of current_fs reduces to 0 - stored in "now"
			//1. scale previous_fs from 80% to 100%
			scale = 0.8 + (1 - now) * 0.2;
			//2. take current_fs to the right(50%) - from 0%
			left = ((1-now) * 50)+"%";
			//3. increase opacity of previous_fs to 1 as it moves in
			opacity = 1 - now;
			current_fs.css({'left': left});
			previous_fs.css({'transform': 'scale('+scale+')', 'opacity': opacity});
		}, 
		duration: 800, 
		complete: function(){
					current_fs.hide();
					animating = false;
				}, 
				//this comes from the custom easing plugin
				easing: 'easeInOutBack'
			});
		});

		$(".submit").click(function(){
			document.msform.submit();
		})
</script>

{% endblock %}