{% extends "base.html" %}
{% block js_head %}
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>

<script type="text/javascript" src="http://bp.yahooapis.com/2.4.21/browserplus-min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='assets/js/plupload/plupload.full.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='assets/js/plupload/jquery.ui.plupload.min.js') }}"></script>

<script type="text/javascript">
 // Convert divs to queue widgets when the DOM is ready
             function getInternetExplorerVersion()
     // Returns the version of Internet Explorer or a -1
     // (indicating the use of another browser).
     {
       var rv = -1; // Return value assumes failure.
       if (navigator.appName == 'Microsoft Internet Explorer')
       {
         var ua = navigator.userAgent;
         var re = new RegExp("MSIE ([0-9]{1,}[\.0-9]{0,})");
         if (re.exec(ua) != null)
           rv = parseFloat( RegExp.$1 );
       }
       return rv;
     }
     function checkVersion(min)
     {
       var ver = getInternetExplorerVersion();

       if ( ver > -1 )
       {
         if ( ver >= min )
           return 0;
         else
           return 1;
       }
       return -1;
     }
 
 $(document).ready(function(){
     var runtimes = 'gears,flash,silverlight,browserplus,html5';

     if (typeof window.FileReader === 'undefined') {
     } else {
         runtimes = 'html5,gears,flash,silverlight,browserplus';
     }

     if (checkVersion(9.0) == 1) {
         // Running IE9
         runtimes = 'flash,html4';
     }
     

     $(function() {
         $("#uploader").plupload({
             // General settings
             runtimes : runtimes,
             url : '/',
             max_file_size : '10mb',
             chunk_size : '1mb',
             unique_names : true,

             // Resize images on clientside if we can
             //resize : {width : 320, height : 240, quality : 90},-->

             // Specify what files to browse for
             filters : [
                 {title : "Image files", extensions : "jpg,gif,png"},
                 {title : "Zip files", extensions : "zip"}
             ],

             // Flash settings
             flash_swf_url : '/static/assets/js/plupload/js/plupload.flash.swf',

             // Silverlight settings
             silverlight_xap_url : '/static/assets/js/plupload/js/plupload.silverlight.xap',

             init : {
                 FileUploaded: function(up, file, info) {
                     if (this.total.queued == 0) {
                         /* All files are uploaded */
                         alert("All files have been uploaded.");
                     }

                     $("#result").append("<li><a href='"+info.response+"'>"+info.response+"</a></li>");

                 }
                 
             }
         });



         // Client side form validation
         $('form').submit(function(e) {
             var uploader = $('#uploader').pluploadQueue();

             // Validate number of uploaded files
             if (uploader.total.uploaded == 0) {
                 // Files in queue upload them first
                 if (uploader.files.length > 0) {
                     // When all files are uploaded submit form
                     uploader.bind('UploadProgress', function() {
                         if (uploader.total.uploaded == uploader.files.length)
                             $('form').submit();
                     });

                     uploader.start();
                 } else
                     alert('You must at least upload one file.');

                 e.preventDefault();
             }
         });
     });
 });


</script>



{% endblock %}
{% block content %}

	<!-- START PORTFOLIO WRAPPER -->
	<div class="container main-wrapper">
		<div id="main-content">
			<!-- Smart Wizard -->
			<div id="wizard" class="swMain">
				<ul>
					<li>
						<a href="#step-1"><label class="stepNumber">1</label>
						<span class="stepDesc">Select your data<br /><span class="sub-step">Your choice of data will affect your analysis</span></span> 
						</a>
					</li>
					<li>
						<a href="#step-2"><label class="stepNumber">2</label>
							<span class="stepDesc">Choose your analysis<br /><span class="sub-step">Specify your learning algorithm</span></span>
		         		</a>
					</li>
					<li>
						<a href="#step-3"><label class="stepNumber">3</label>
		             		<span class="stepDesc">Tune Parameters<br /><span class="sub-step">Or use our default recommended settings</span></span>                   
		          		</a>
					</li>
				</ul>
				
				
				
				<div id="step-1">	
					<div id="fileupload">
					    <form action="{{ url_for('upload') }}" method="POST" enctype="multipart/form-data">
					            <div id="uploader">
					                <input type="file" name="datafile" size="40">
					                <input type="submit" value="Send">
					            </div>
					        </form>
					        <ul id="result">
								{% if filename is defined %} {{ filename }} {% endif %}
					        </ul>
					</div>
				</div>
				
				
				
				<div id="step-2">
		         	<h2 class="StepTitle">Step 2 Content</h2>	
		         	<p>Step 2</p>
		        </div>
		
		
				<div id="step-3">
		         	<h2 class="StepTitle">Step 3 Content</h2>	
		         	<p>Step 3</p>               				          
		     	</div>
			</div><!-- End SmartWizard Content -->
		</div> <!-- Main Content -->
	</div><!-- .container -->
	<!-- END PORTFOLIO WRAPPER -->
{% endblock %}
{% block js %}
<script type="text/javascript" src="{{ url_for('static', filename='assets/js/jquery.smartWizard-2.0.min.js') }}"></script>

<script>
$(document).ready(function(){
	// Smart Wizard 	
	$('#wizard').smartWizard();
  
  function onFinishCallback(){
    $('#wizard').smartWizard('showMessage','Finish Clicked');
  }     
	});
</script>
{% endblock %}