{% extends "base.html" %}
{% block js_head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/data/data_header.css') }}"/>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/data/data_modify.css') }}"/>
<script type="text/javascript" src="{{ url_for('static', filename='assets/lib/accordion/accordion_custom.js') }}"></script>
<script>
$(function() {
  $( "#accordion" ).accordion({
    collapsible: true
  });
});
</script>
{% endblock %}

{% block content %}
{% include 'headers/data_header.html' %}
	<!-- START PORTFOLIO ITEM WRAPPER -->
	<div class="onerow">
		<div class="col3" id="search_box">
			<div id="search_menu">
				<input id="search_input" value="Search">
				<hr>
				<span class="return">Show Top:</span>
				<select id="top_results">
					<option>20</option>
					<option>40</option>
					<option>60</option>
					<option>80</option>
					<option>100</option>
				</select>
				<a id="search_all" value="All">All</a>
			</div>
			<hr>
			<div id="search_results">
			</div>
			
		</div>
		
		<div class="col9 last" id="document_box">
			<ul id="document_header">
				<li><h3 class="document_title">Anna Karenina: Chapter 1</h3></li>
				<li class="document_icon"><img src="{{ url_for('static', filename='images/icons/iconmonstr-x-mark-4-icon.png') }}"> </li>
				<li class="document_icon"><img src="{{ url_for('static', filename='images/icons/iconmonstr-edit-8-icon.png') }}"> </li>
			</ul>
			<div id="document content"> 
				<p>Happy families are all alike; every unhappy family is unhappy in its own way.</p>
				<p>Everything was in confusion in the Oblonskys' house. The wife had discovered that the husband was carrying on an intrigue with a French girl, who had been a governess in their family, and she had announced to her husband that she could not go on living in the same house with him. This position of affairs had now lasted three days, and not only the husband and wife themselves, but all the members of their family and household, were painfully conscious of it. Every person in the house felt that there was so sense in their living together, and that the stray people brought together by chance in any inn had more in common with one another than they, the members of the family and household of the Oblonskys. The wife did not leave her own room, the husband had not been at home for three days. The children ran wild all over the house; the English governess quarreled with the housekeeper, and wrote to a friend asking her to look out for a new situation for her; the man-cook had walked of the day before just at dinner-time; the kitchen-maid, and the coachman had given warning.</p>
				<p>Three days after the quarrel, Prince Stepan Arkadyevitch Oblonsky--Stiva, as he was called in the fashionable world--woke up at his usual hour, that is, at eight o'clock in the morning, not in his wife's bedroom, but on the leather-covered sofa in his study. He turned over his stout, well-cared-for person on the springy sofa, as though he would sink into a long sleep again; he vigorously embraced the pillow on the other side and buried his face in it; but all at once he jumped up, sat up on the sofa, and opened his eyes.</p>
				<p>"Yes, yes, how was it now?" he thought, going over his dream. "Now, how was it? To be sure! Alabin was giving a dinner at Darmstadt; no, not Darmstadt, but something American. Yes, but then, Darmstadt was in America. Yes, Alabin was giving a dinner on glass tables, and the tables sang, Il mio tesoro--not Il mio tesoro though, but something better, and there were some sort of little decanters on the table, and they were women, too," he remembered.</p>
				<p>Stepan Arkadyevitch's eyes twinkled gaily, and he pondered with a smile. "Yes, it was nice, very nice. There was a great deal more that was delightful, only there's no putting it into words, or even expressing it on one's thoughts awake." And noticing a gleam of light peeping in beside one of the serge curtains, he cheerfully dropped his feet over the edge of the sofa, and felt about with them for his slippers, a present on his last birthday, worked for him by his wife on gold-colored morocco. And, as he had done every day for the last nine years, he stretched out his hand, without getting up, towards the place where his dressing-gown always hung in his bedroom. And thereupon he suddenly remembered that he was not sleeping in his wife's room, but in his study, and why: the smile vanished from his face, he knitted his brows.</p>
			</div>
			<div>
				<section class="ac-container">
					<div>
						<input id="ac-1" name="accordion-1" type="checkbox" />
						<label for="ac-1">Parse Document</label>
						<article class="ac-small">
							<p>Enter Regular Expression: <input id="reg_exp"> </input></p>
						</article>
					</div>
					<div>
						<input id="ac-2" name="accordion-1" type="checkbox" />
						<label for="ac-2">Metadata</label>
						<article class="ac-small">
							<p>Like you, I used to think the world was this great place where everybody lived by the same standards I did, then some kid with a nail showed me I was living in his world, a world where chaos rules not order, a world where righteousness is not rewarded. That's Cesar's world, and if you're not willing to play by his rules, then you're gonna have to pay the price. </p>
						</article>
					</div>
				</section>
			</div>
		</div>
	</div>
	
{% endblock %}

{% block js %}
<script type="text/javascript" src="{{ url_for('static', filename='assets/lib/d3/d3.v3.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='assets/lib/d3/browse.js') }}"></script>
{% endblock %}