{% extends "base.html" %}
{% block js_head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/manage/manage_data_view.css') }}"/>
{% endblock %}

{% block content %}
	<!-- START PORTFOLIO ITEM WRAPPER -->
	<div class="onerow">
		<div class="col12" id="manage_hdr">
			<ul id="manage_links">
				<li><a class="manage_sub visited_link" href="{{ url_for('manage_reports')  }}" id="reports_tab">Summary</a></li>
				<li><a class="manage_sub" href="{{ url_for('manage_data')  }}"  id="data_tab">Browse </a></li>
				<li><a class="manage_sub" href="{{ url_for('manage_data')  }}"  id="data_tab">Visualize </a></li>
				<li><a class="manage_sub" href="{{ url_for('manage_data')  }}"  id="data_tab">Settings </a></li>
			</ul>
		</div>
	</div>
	<!-- START PORTFOLIO ITEM WRAPPER -->
	<div class="onerow" id="top_row">
		<div class="col4" id="img_box">
			<img class="article_canvas" src="{{ url_for('static', filename='images/hopper-nighthawks.jpg') }}" alt="">
			<p><a href="#"> Analyze Data</a></p>
			
			<div id="simple_stats">
				<h3 id="header_simple_stats">Descriptive Statistics</h3>
				<ul id="top_row_stats">
					<li class="simple_stats_link"><img class="simple_stats_img" src="{{ url_for('static', filename='images/hopper-nighthawks.jpg') }}" alt=""></li>
					<li class="simple_stats_link"><img class="simple_stats_img" src="{{ url_for('static', filename='images/hopper-nighthawks.jpg') }}" alt=""></li>
					<li class="simple_stats_link"><img class="simple_stats_img" src="{{ url_for('static', filename='images/hopper-nighthawks.jpg') }}" alt=""></li>
				</ul>
				
			</div>
		</div>
		
		<div class="col8 last" id="summary_box">
			<div id="dataset_summary">
				<h3>Argentina Bus Network </h3>
				<ul id="summary_info"> 
					<li><p>Type: Social Network</p></li>
					<li><p>Number of Nodes: 12,337 </p></li>
					<li><p>Number of Edges: 14,333,222 </p></li>
					<li><p>Synopsis: A new social network with a striking resemblance to Facebook called Facepopular was launched last week in Argentina.
					To all intents and purposes, Facepopular seems to have been created to thumb its nose at multinationals in the US and their allies and to create a "Latin American" alternative.
					According the website, its creators seek to "generate a communication and community interaction channel free from the arbitrary models imposed by other social networks designed and operated outside the Latin American region by multinational corporations."
					Pablo Lenz, one of Facepopular's creators, is reportedly a supporter of Argentine left leaning political party Miles which is run by Luis D'Elía, a known ally of Cristina Kirchner's government, AFTP reported.
					According to various news sources, the website intends the word "face" to stand for "frente alternativo contra el establishment" or "anti-establishment alternative front."</p></li>
				</ul>
			</div>
		</div>
			
	</div>
	
	<div class="onerow" id="middle_row">
		<div class="col12" id="middle_info">
			
		</div>	
	</div>
	
{% endblock %}

{% block js %}


{% endblock %}