{% extends "base.html" %}
{% block js_head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/manage/manage_data.css') }}"  />
<script type="text/javascript" src="{{ url_for('static', filename='assets/lib/mixitup/jquery.mixitup.js') }}"></script>
{% endblock %}

{% block content %}
{% include 'headers/manage_header.html' %}

	<div class="onerow">
		<div class="col12" id="manage_sub_hdr">
			<div class="controls">
				<ul id="dataset_filter">
					<li class="new_report_btn"> <a href="{{ url_for('upload_manual', username=g.user.username) }}"> Add Data</a> </li>
					<li> Filters: </li>
					<li class="filter filter2 clicked_control" data-filter="all">All</li>
					<li class="filter filter2" data-filter="category_2 category_3">Documents</li>
					<li class="filter filter2" data-filter="category_1">Networks</li>
					<li> Sort: </li>
					<li class="filter filter2" data-filter="category_2 category_3">Views</li>
					<li class="filter filter2" data-filter="category_1">Date</li>
					<li id="manage_search">
						<form>
						<input id="search_input" placeholder="Enter your search term..." type="text" value="" name="search" id="search">
						<input id="search_btn" type="submit" value="Search" name="submit">
						</form>
					</li>
				</ul>
			</div>
		</div>
	</div>
	
	<div class="onerow">
		<div class="col12" id="data_hdr">
			<ul id="Grid">	
				{% for data_id,name,summary,savename in data %}
					<li class="mix category_{{ loop.index }}">
						<a href="{{ url_for('data_summary', data_id=data_id, username=g.user.username )  }}"><img src="/static/users/{{g.user.username}}/datasets/{{savename}}/upload_image.jpg"></a>
						<h3 >{{ name }}</h3>
					</li>
				{% endfor %}
			</ul>
		</div>
	</div>
	
{% endblock %}
{% block js %}
<script type="text/javascript">
$('#Grid').mixitup();
$('#refresh').hide();
$('.filter2').click(function(){
	$('.filter2').removeClass('clicked_control');
    $(this).toggleClass('clicked_control');
});

</script>
{% endblock %}