<!-- START PORTFOLIO ITEM WRAPPER -->
<div class="col3" id="img_box">
	<img id="data_img" src="/static/users/{{g.user.username}}/datasets/{{datainfo.savename}}/upload_image.jpg" alt="">
		<ul id="analyze">
	   		<li>
				<form id="data_run" action="{{ url_for('run_analysis', username=g.user.username, data_id=data_id)}}" method="GET">
					<a id="data_run_btn" href="{{ url_for('update_view', username=g.user.username, data_id=data_id, type='start_experiment')}}">Run Analysis</a>
				</form>
			</li>
	    	<li>
				<a id="data_settings_btn" href="{{ url_for('update_view', username=g.user.username, data_id=data_id, type='settings')}}">
				<img id="analyze_img" src="{{ url_for('static', filename='images/icons/iconmonstr-gear-icon-48.png') }}" alt="Dataset Summary">
				</a>
			</li>
			<li class="simple_stats_link">
				<a id="data_summary_btn" href="{{ url_for('update_view', username=g.user.username, data_id=data_id, type='summary')}}">
				<span> Summary </span> <img id="data_img_sub1" src="{{ url_for('static', filename='images/icons/iconmonstr-book-17-icon.png') }}" alt="Dataset Summary">
				</a>
			</li>
			<li class="simple_stats_link">
				<a id="data_experiments_btn" href="{{ url_for('update_view', username=g.user.username, data_id=data_id, type='experiments')}}">
				<span> Experiments </span> <img id="data_img_sub2" src="{{ url_for('static', filename='images/icons/iconmonstr-line-chart-icon-64.png') }}" alt="Analysis Progress">
				</a>
			</li>
			<li class="simple_stats_link">
				<a id="data_visual_btn" href="{{ url_for('update_view', username=g.user.username, data_id=data_id, type='visual')}}">
				<span> Visuals </span> <img id="data_img_sub3" src="{{ url_for('static', filename='images/icons/iconmonstr-line-chart-4-icon-64.png') }}" alt="Statistics">
				</a>
			</li>					
		</ul>
		<span id="delete">
			<a href="{{ url_for('delete_dataset', username=g.user.username, data_id=data_id)}}">
			<img src="{{ url_for('static', filename='images/icons/iconmonstr-x-mark-4-icon-24.png') }}" alt="delete_btn"><span>Delete Dataset</span></a>
		</span>
	</div>
</div>
