{% extends "layout.html" %}
{% block title %}
<title>Data Diary</title>
{% endblock %}

{% block js %}
<script type="text/javascript">		
	$(document).ready(function() { //Start up our Featured Project Carosuel
		$('#featured ul').roundabout({
			easing: 'easeOutInCirc',
			duration: 600
		});
	});
</script>
{% endblock %}

{% block content %}
<div id="featured" class="clearfix grid_12">
	<ul> 
		<li>
			<a href="portfolio_single.html">
				<span>Read about this project</span>
				<img src="{{ url_for('static', filename='images/d3-map.jpg') }}" alt="" />
			</a>
		</li>  
		<li>
			<a href="portfolio_single.html">
				<span>Read about this project</span>
				<img src="{{ url_for('static', filename='images/d3-example.png') }}" alt="" />
			</a>	
		</li>  
		<li>
			<a href="portfolio_single.html">
				<span>Read about this project</span>
				<img src="{{ url_for('static', filename='images/d3-stack.gif') }}" alt="" />
			</a>
		</li>  
		<li>
			<a href="portfolio_single.html">
				<span>Read about this project</span>
				<img src="{{ url_for('static', filename='images/d3-bubble.png') }}" alt="" />
			</a>
		</li>  
		<li>
			<a href="portfolio_single.html">
				<span>Read about this project</span>
				<img src="{{ url_for('static', filename='images/d3-chord.png') }}" alt="" />
			</a>
		</li>  
	</ul> 
</div>
<h5 class="grid_12 caption clearfix">
Share your data and tell your stories. 
</h5>

<h6 class="grid_12 caption clearfix">Using state of the art statistical learning algorithms, the Citizen Journal is an attempt
to build a community of citizens who are interested in understanding data and sharing their interest across the general public. 
</h6>

<div class="hr grid_12">&nbsp;</div>

<h5 class="grid_12 caption clearfix">
How does it work? 
</h5>

<img class="clearfix grid_12"align="center" src="{{ url_for('static', filename='images/flowchart.png') }}" alt="" />

<h6 class="grid_12 caption clearfix"> The algorithm runs on the backend. We do the hard work of developing an interface so that 
all you need to do is configure the kind of analysis you'd like. Click here for examples. </h6>


{% endblock %}