<!doctype html>
<head>
{% block title %}
{% endblock %}
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='assets/js/jquery.roundabout-1.0.min.js') }}"></script> 
<script type="text/javascript" src="{{ url_for('static', filename='assets/js/jquery.easing.1.3.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='assets/js/jquery.tipsy.js') }}"></script>
{% block js %}
{% endblock %}
<link href='http://fonts.googleapis.com/css?family=Bad+Script|Cinzel+Decorative|Marcellus+SC|Habibi|Simonetta|Julius+Sans+One|Patrick+Hand+SC|Amatic+SC|Berkshire+Swash|Sacramento|Titillium+Web|Special+Elite' rel='stylesheet' type='text/css'>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='assets/css/styles.css') }}">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='assets/css/reset.css') }}">
</head>
<body>
	
<div id="wrapper" class="container_12 clearfix">
	<h1 id="logo" class="grid_4"><a href="{{ url_for('home') }}"> The Citizen Journal </a></h1>
	<!-- Navigation Menu -->
	<ul id="navigation" class="grid_8">
	<li><a title='Logout' href="{{ url_for('logout') }}" class="current"><img id='menu' src='/static/images/glyphicons_063_power.png'></a></li>
	<li><a title='New Analysis' href="{{ url_for('analysis') }}"><img id='menu' src='/static/images/glyphicons_145_folder_plus.png'></a></li>		
	<li><a title='Manage Projects' href="{{ url_for('profile') }}" class="current"><img id='menu' src='/static/images/glyphicons_341_briefcase.png'></a></li>
	<li><a title='Analysis Feed' href="{{ url_for('feed') }}" class="current"><img id='menu' src='/static/images/glyphicons_370_globe_af.png'></a></li>
	</ul>
	<div class="hr grid_12">&nbsp;</div>
	<div class="clear"></div>

{% block content %}
{% endblock %}
<div class="hr grid_12 clearfix">&nbsp;</div>
<div class="clear"></div>
<h6 class="grid_12 caption clearfix">
	<span class="float"><b>&copy; Copyright, Unemployed Academic Journalists</b></span>
</h3>
</div><!--end wrapper-->
<script>
  $(function() {
    $( document ).tooltip({
      position: {
        my: "center bottom-20",
        at: "center top",
        using: function( position, feedback ) {
          $( this ).css( position );
          $( "<div>" )
            .addClass( "arrow" )
            .addClass( feedback.vertical )
            .addClass( feedback.horizontal )
            .appendTo( this );
        }
      }
    });
  });
</script>
<script type="text/javascript">
        $(document).ready(function() {

            $(".signin").click(function(e) {          
				e.preventDefault();
                $("fieldset#signin_menu").toggle();
				$(".signin").toggleClass("menu-open");
            });
			
			$("fieldset#signin_menu").mouseup(function() {
				return false
			});
			$(document).mouseup(function(e) {
				if($(e.target).parent("a.signin").length==0) {
					$(".signin").removeClass("menu-open");
					$("fieldset#signin_menu").hide();
				}
			});			
        });
</script>
</body>
