{% extends "base.html" %}
{% block js_head %}
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/view_mode/default.css') }}"  />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/view_mode/component.css') }}"  />
<script type="text/javascript" src="{{ url_for('static', filename='assets/js/view_mode/classie.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='assets/js/view_mode/cbpViewModeSwitch.js') }}"></script>
{% endblock %}

{% block content %}

	<!-- START PORTFOLIO ITEM WRAPPER -->
	<div class="main">
		<div id="cbp-vm" class="cbp-vm-switcher cbp-vm-view-grid">
			<div class="cbp-vm-options">
				<a href="#" class="cbp-vm-icon cbp-vm-grid cbp-vm-selected" data-view="cbp-vm-view-grid">Grid View</a>
				<a href="#" class="cbp-vm-icon cbp-vm-list" data-view="cbp-vm-view-list">List View</a>
			</div>
			<ul>
				<li>
					<a class="cbp-vm-image" href="#"><img src="/static/images/1.png"></a>
					<h3 class="cbp-vm-title">Silver beet</h3>
					<div class="cbp-vm-price">$19.90</div>
					<div class="cbp-vm-details">
						Silver beet shallot wakame tomatillo salsify mung bean beetroot groundnut.
					</div>
					<a class="cbp-vm-icon cbp-vm-add" href="#">Add to cart</a>
				</li>
				<li>
					<a class="cbp-vm-image" href="#"><img src="/static/images/2.png"></a>
					<h3 class="cbp-vm-title">Wattle seed</h3>
					<div class="cbp-vm-price">$22.90</div>
					<div class="cbp-vm-details">
						Wattle seed bunya nuts spring onion okra garlic bitterleaf zucchini.
					</div>
					<a class="cbp-vm-icon cbp-vm-add" href="#">Add to cart</a>
				</li>
				<li>
					<a class="cbp-vm-image" href="#"><img src="/static/images/3.png"></a>
					<h3 class="cbp-vm-title">Kohlrabi bok</h3>
					<div class="cbp-vm-price">$5.90</div>
					<div class="cbp-vm-details">
						Kohlrabi bok choy broccoli rabe welsh onion spring onion tatsoi ricebean kombu chard.
					</div>
					<a class="cbp-vm-icon cbp-vm-add" href="#">Add to cart</a>
				</li>
				<li>
					<a class="cbp-vm-image" href="#"><img src="/static/images/4.png"></a>
					<h3 class="cbp-vm-title">Melon sierra</h3>
					<div class="cbp-vm-price">$12.90</div>
					<div class="cbp-vm-details">
						Melon sierra leone bologi carrot peanut salsify celery onion jícama summer purslane.
					</div>
					<a class="cbp-vm-icon cbp-vm-add" href="#">Add to cart</a>
				</li>
				<li>
					<a class="cbp-vm-image" href="#"><img src="/static/images/5.png"></a>
					<h3 class="cbp-vm-title">Celery carrot</h3>
					<div class="cbp-vm-price">$15.00</div>
					<div class="cbp-vm-details">
						Celery carrot napa cabbage wakame zucchini celery chard beetroot jícama sierra leone.
					</div>
					<a class="cbp-vm-icon cbp-vm-add" href="#">Add to cart</a>
				</li>
				<li>
					<a class="cbp-vm-image" href="#"><img src="/static/images/6.png"></a>
					<h3 class="cbp-vm-title">Catsear</h3>
					<div class="cbp-vm-price">$20.00</div>
					<div class="cbp-vm-details">
						Catsear cabbage tomato parsnip cucumber pea brussels sprout spring onion shallot swiss .
					</div>
					<a class="cbp-vm-icon cbp-vm-add" href="#">Add to cart</a>
				</li>
				<li>
					<a class="cbp-vm-image" href="#"><img src="/static/images/7.png"></a>
					<h3 class="cbp-vm-title">Mung bean</h3>
					<div class="cbp-vm-price">$88.00</div>
					<div class="cbp-vm-details">
						Mung bean taro chicory spinach komatsuna fennel.
					</div>
					<a class="cbp-vm-icon cbp-vm-add" href="#">Add to cart</a>
				</li>
				<li>
					<a class="cbp-vm-image" href="#"><img src="/static/images/8.png"></a>
					<h3 class="cbp-vm-title">Epazote</h3>
					<div class="cbp-vm-price">$34.90</div>
					<div class="cbp-vm-details">
						Epazote soko chickpea radicchio rutabaga desert raisin wattle seed coriander water.
					</div>
					<a class="cbp-vm-icon cbp-vm-add" href="#">Add to cart</a>
				</li>
				<li>
					<a class="cbp-vm-image" href="#"><img src="/static/images/9.png"></a>
					<h3 class="cbp-vm-title">Tatsoi caulie</h3>
					<div class="cbp-vm-price">$21.50</div>
					<div class="cbp-vm-details">
						Tatsoi caulie broccoli rabe bush tomato fava bean beetroot epazote salad grape.
					</div>
					<a class="cbp-vm-icon cbp-vm-add" href="#">Add to cart</a>
				</li>
				<li>
					<a class="cbp-vm-image" href="#"><img src="/static/images/10.png"></a>
					<h3 class="cbp-vm-title">Endive okra</h3>
					<div class="cbp-vm-price">$18.50</div>
					<div class="cbp-vm-details">
						Endive okra chard desert raisin prairie turnip cucumber maize avocado.
					</div>
					<a class="cbp-vm-icon cbp-vm-add" href="#">Add to cart</a>
				</li>
				<li>
					<a class="cbp-vm-image" href="#"><img src="/static/images/1.png"></a>
					<h3 class="cbp-vm-title">Bush tomato</h3>
					<div class="cbp-vm-price">$9.00</div>
					<div class="cbp-vm-details">
						Bush tomato peanut shallot turnip prairie turnip gram desert raisin.
					</div>
					<a class="cbp-vm-icon cbp-vm-add" href="#">Add to cart</a>
				</li>
				<li>
					<a class="cbp-vm-image" href="#"><img src="/static/images/2.png"></a>
					<h3 class="cbp-vm-title">Yarrow leek</h3>
					<div class="cbp-vm-price">$22.50</div>
					<div class="cbp-vm-details">
						Yarrow leek cabbage amaranth onion salsify caulie kale desert raisin prairie turnip garlic.
					</div>
					<a class="cbp-vm-icon cbp-vm-add" href="#">Add to cart</a>
				</li>
			</ul>
		</div>
	</div><!-- /main -->
	<!-- END LATEST PROJECTS -->
{% endblock %}
{% block js %}

{% endblock %}