{% extends "base.html" %}
{% block js_head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/new_report.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/jquery-ui.css') }}"  />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/elastic/elastislide.css') }}"  />
<script type="text/javascript" src="{{ url_for('static', filename='assets/lib/elastic/modernizr.custom.17475.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='assets/lib/ckeditor/ckeditor.js') }}"></script>
{% endblock %}

{% block content %}

	<div class="onerow">
		<!-- INTERACTIVE JOURNAL PREVIEW -->
		<div class="col9" id="article_content">
			<h1 id="article_title">The Afghan War Leaks</h1>
			<div id="main_panel">
				<img id="article_main_img" src="{{ url_for('static', filename='images/hopper-gas.jpg') }}" alt="">
			</div>
			<ul id="article_menu">
				<li id="article_author"><a href="#">By Dae Il Kim </a> </li> 
				<li id="article_date">Published September 11, 2013 </li> 
				<li class="article_button"><a href="{{ url_for('article') }}">Preview</a></li>
				<li class="article_button"><a id="interact" href="">Interactive</a></li>
			</ul>
			<div id="report_editor">
				<textarea class="ckeditor" cols="80"  name="editor1" rows="50">
					<p class="article_text"> GENEVA — Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					<p class="article_text"> "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?"</p>
					<p class="article_text"> "At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat."</p>
				</textarea>
			</div>
		</div>
		<!-- MOST POPULAR / INTERESTING -->
		<div class="col3 last" id="article_ads">
			<div class="column">
			<ul id="carousel" class="elastislide-list">
				<li><a href="#" class="slider"><img class="article_canvas" src="{{ url_for('static', filename='images/hopper-morning-sun.jpg') }}" alt=""></a></li>
				<li><a href="#" class="slider"><img class="article_canvas" src="{{ url_for('static', filename='images/hopper-chop-suey.jpg') }}" alt=""></a></li>
				<li><a href="#" class="slider"><img class="article_canvas" src="{{ url_for('static', filename='images/hopper-gas.jpg') }}" alt=""></a></li>
				<li><a href="#" class="slider"><img class="article_canvas" src="{{ url_for('static', filename='images/hopper-early-sunday-morning.jpg') }}" alt=""></a></li>
				<li><a href="#" class="slider"><img class="article_canvas" src="{{ url_for('static', filename='images/hopper-nighthawks.jpg') }}" alt=""></a></li>
			</ul>
			</div>
		</div>		
	</div>

<!-- END BLOG WRAPPER -->
{% endblock %}
{% block js %}
<script type="text/javascript" src="{{ url_for('static', filename='assets/lib/d3/d3.v3.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='assets/lib/d3/browse.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='assets/lib/elastic/jquery.elastislide.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='assets/lib/elastic/jquerypp.custom.js') }}"></script>
<script type="text/javascript">
	$( '#interact').click( function() {
		// swap the inner html with div element from viz
		var viz = '<div id="viz"></div>';
		$("#article_main_img").replaceWith(viz);
		var temp = $("#main_panel").html();
		// replace the interactive button with photos
		
		//
	});

			
	$( '#carousel' ).elastislide( {
		orientation : 'vertical',
		minItems: 4
	} );
	
	$( "#carousel li img" ).click(function() {
		$(".article_canvas").css("border","none");
		var main_src = $("#article_main_img").attr("src");
		var list_src = $(this).attr("src");
		var list_append = ' <li><a href="#"><img class="article_canvas" src=" ' + main_src + ' "></a></li>'; 
		var main_replace = ' <img id="article_main_img" src="' + list_src + '" alt=""> ';
		
		$(this).css("border","3px solid #111");
		$('#article_main_img').replaceWith(main_replace);
	});
</script>

{% endblock %}
