{% extends "base.html" %}
{% block content %}
	<!-- START BLOG WRAPPER -->
	<div class="container main-wrapper">
		<div id="main-content" class="twelve columns">

			<!-- POST #1 - IMAGE -->
			<div class="entry-post format-image">
				<div class="image-post">
				   	<a href="{{ url_for('journal') }}"><img id="img_post center" src="{{ url_for('static', filename='images/hopper-morning-sun.jpg') }}" alt=""></a>
				</div><!-- post-image -->
				<div class="text-post clearfix">
					<div class="meta-post">
						<div class="date" title="Posted Date"><span>Date Created: May 21, 2012</span></div>
						<div class="tags" title="Tags"><span><a href="#">Maps</a>, <a href="#">Crime</a></span></div>
						<div class="comments" title="Comments"><span><a href="#">12</a></span></div>
						<div class="author" title="Author"><span><a href="#">Anna</a></span></div>
						<div class="tweets" title="Tweet this"><span><a href="">Tweet</a></span></div>						
					</div><!-- meta-post -->
					<h6><a href="blog-post.html">Construction Project Papers</a></h6>	
				   	<p>Near the center in violet we have prominent government figures such as Larry H. Summers (71st US Treasury Secretary) and Robert E. Rubin (70th US Treasury Secretary) with ties to several distinct communities, representative of their high posterior bridgness. Conversely, within the beige colored community, individuals with small posterior bridgness such as Wendy Neu can reflect a career that was highly focused in one organization. A quick internet search shows that she is currently the CEO of Hugo Neu, a green-technology firm where she has worked for over 30 years. An analysis on this type of network might provide insights into the structures of power that shape our world and the key individuals that define them.</p>
					<a href="{{ url_for('journal') }}" class="button read-more">Read more</a>
				</div><!-- text-post -->
				<br><br>
				<div class="image-post">
				   	<a href="{{ url_for('journal') }}"><img id="img_post center" src="{{ url_for('static', filename='images/hopper-chop-suey.jpg') }}" alt=""></a>
				</div><!-- post-image -->
				<div class="text-post clearfix">
					<div class="meta-post">
						<div class="date" title="Posted Date"><span>Date Created: May 21, 2012</span></div>
						<div class="tags" title="Tags"><span><a href="#">Maps</a>, <a href="#">Crime</a></span></div>
						<div class="comments" title="Comments"><span><a href="#">12</a></span></div>
						<div class="author" title="Author"><span><a href="#">Anna</a></span></div>
						<div class="tweets" title="Tweet this"><span><a href="">Tweet</a></span></div>						
					</div><!-- meta-post -->
					<h6><a href="blog-post.html">Construction Project Papers</a></h6>	
				   	<p>Near the center in violet we have prominent government figures such as Larry H. Summers (71st US Treasury Secretary) and Robert E. Rubin (70th US Treasury Secretary) with ties to several distinct communities, representative of their high posterior bridgness. Conversely, within the beige colored community, individuals with small posterior bridgness such as Wendy Neu can reflect a career that was highly focused in one organization. A quick internet search shows that she is currently the CEO of Hugo Neu, a green-technology firm where she has worked for over 30 years. An analysis on this type of network might provide insights into the structures of power that shape our world and the key individuals that define them.</p>
					<a href="{{ url_for('journal') }}" class="button read-more">Read more</a>
				</div><!-- text-post -->
				
				
				<div class="divider-blog-1px"></div>
			</div><!-- entry-post -->
			
			
			
			<!-- START PAGINATION-->
			<div id="nav-pagination">
				<ul class="nav-pagination clearfix">
	   	    	 	<li class="first"><a href="#"></a></li>
	   	    	 	<li><a href="#">1</a></li>
	   	    	 	<li class="current"><a href="#">2</a></li>
	   	    	 	<li><a href="#">3</a></li>
	   	    	 	<li><a href="#">4</a></li>
	   	    	 	<li><a href="#">5</a></li>
	   	    	 	<li><a href="#">6</a></li>
	   	    	 	<li><a href="#">7</a></li>
	   	    	 	<li class="last"><a href="#"></a></li>
	   	    	 </ul>
			</div><!-- #nav-pagination -->
		</div><!-- main-content -->
	
		<!-- START SIDEBAR -->
		<div id="sidebar" class="four columns">
			<div class="widget">
				<form method="get" id="searchform" action="http://html.color-theme.com/linkup">
					<fieldset>
						<input type="text" name="s" id="s" value="To search type and hit enter" onFocus="if(this.value=='To search type and hit enter')this.value='';" onBlur="if(this.value=='')this.value='To search type and hit enter';">
					</fieldset>
				</form>
			</div><!-- widget -->
			
			<div class="widget">
				<h6>Most Popular Posts</h6>
				<div class="gray-dash-3px"></div>				
				<ul class="arrow">
					<li><a href="#" title="Post With Gallery">Post With Gallery</a></li>
					<li><a href="#" title="Quote Post">Quote Post</a></li>
					<li><a href="#" title="Audio Post">Audio Post</a></li>
					<li><a href="#" title="Post With Link">Post With Link</a></li>
					<li><a href="#" title="Post With Featured Image">Post With Featured Image</a></li>
				</ul>
			</div><!-- widget -->

			<div class="widget clearfix">
				<h6>Popular Search Terms (Last 24h)</h6>
				<div class="gray-dash-3px"></div>
				<ul class="tags">
					<li><a href="blog-post.html" class="button tag-button">NSA Prime</a></li>
					<li><a href="blog-post.html" class="button tag-button">Riot</a></li>
					<li><a href="blog-post.html" class="button tag-button">Disease</a></li>
					<li><a href="blog-post.html" class="button tag-button">Corruption</a></li>
					<li><a href="blog-post.html" class="button tag-button">Finance</a></li>
					<li><a href="blog-post.html" class="button tag-button">Hedgefunds</a></li>
					<li><a href="blog-post.html" class="button tag-button">Internships</a></li>
					<li><a href="blog-post.html" class="button tag-button">NSA</a></li>
					<li><a href="blog-post.html" class="button tag-button">Wiretaps</a></li>
					<li><a href="blog-post.html" class="button tag-button">Mali</a></li>
					<li><a href="blog-post.html" class="button tag-button">Egypt</a></li>
				</ul>
			</div><!-- widget -->

			<div class="widget">
				<h6>Current Site Statistics</h6>
				<div class="gray-dash-3px"></div>
				<p>There are currently 142,568 users logged onto this site</p>
			</div><!-- widget -->
						
		</div><!-- sidebar -->
	</div><!-- .container -->

		
<!-- END BLOG WRAPPER -->
{% endblock %}
{% block js %}


<script>
/*******************************
			ACCORDION
********************************/
jQuery.noConflict()(function($){
	$(document).ready(function() {
		$("#accordion").accordion({ autoHeight: false });;
	});
});  
</script>

<script>
jQuery.noConflict()(function($){
    $(document).ready(function(){
			$('#slides-post').slides({
				generateNextPrev: true,
				generatePagination: false,
   				effect: 'fade',
   				crossfade: true,
				preload: true,
				preloadImage: 'static/images/loading.gif',
				pause: 2500,
				hoverPause: true
			});
		});
   });
</script>
{% endblock %}
