{% extends "base.html" %}
{% block js_head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/book_block/default.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/book_block/bookblock.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/book_block/demo4.css') }}" />
<script type="text/javascript" src="{{ url_for('static', filename='assets/js/book_block/modernizr.custom.js') }}"></script>

{% endblock %}

{% block content %}
<div class="bb-custom-wrapper">
	
	<div id="bb-bookblock" class="bb-bookblock">
		<div class="bb-item">
			<div class="bb-custom-side">
				<img id="flip_img" src="{{ url_for('static', filename='images/hopper-chop-suey.jpg') }}" alt="">	
			</div>
			<div class="bb-custom-side">
				<p>Pastry bear claw oat cake danish croissant jujubes danish. Wypas soufflé muffin. Liquorice powder pastry danish. Candy toffee gummi bears chocolate bar lollipop applicake chocolate cake danish brownie.</p>
			</div>
		</div>
		<div class="bb-item">
			<div class="bb-custom-side">
				<img id="flip_img" src="{{ url_for('static', filename='images/hopper-morning-sun.jpg') }}" alt="">
			</div>
			<div class="bb-custom-side">
				<p>Candy canes lollipop macaroon marshmallow gummi bears tiramisu. Dessert croissant cupcake candy canes. Bear claw faworki faworki lemon drops. Faworki marzipan sugar plum jelly-o marzipan jelly-o.</p>
			</div>
		</div>
		<div class="bb-item">
			<div class="bb-custom-side">
				<img id="flip_img" src="{{ url_for('static', filename='images/hopper-gas.jpg') }}" alt="">
			</div>
			<div class="bb-custom-side">
				<p>Wafer donut caramels chocolate caramels sweet roll. Gummi bears powder candy chocolate cake gummi bears icing wafer cupcake. Brownie cotton candy pastry chocolate wypas.</p>
			</div>
		</div>
		<div class="bb-item">
			<div class="bb-custom-side">
				<img id="flip_img" src="{{ url_for('static', filename='images/hopper-nighthawks.jpg') }}" alt="">
			</div>
			<div class="bb-custom-side">
				<p>Cotton candy caramels tootsie roll soufflé powder lemon drops carrot cake danish. Cotton candy candy canes fruitcake muffin gingerbread. Jujubes soufflé gingerbread donut donut.</p>
			</div>
		</div>
		<div class="bb-item">
			<div class="bb-custom-side">
				<img id="flip_img" src="{{ url_for('static', filename='images/hopper-early-sunday-morning.jpg') }}" alt="">
			</div>
			<div class="bb-custom-side">
				<p>Chocolate bar tiramisu marzipan. Croissant soufflé croissant lollipop liquorice dragée chupa chups carrot cake. Liquorice lollipop halvah toffee lollipop.</p>
			</div>
		</div>
	</div>
	<a id="interactive_button" href="{{ url_for('interactive') }}" >Interactive Mode</a>
	<nav>
		<a id="bb-nav-first" href="#" class="bb-custom-icon bb-custom-icon-first">First page</a>
		<a id="bb-nav-prev" href="#" class="bb-custom-icon bb-custom-icon-arrow-left">Previous</a>
		<a id="bb-nav-next" href="#" class="bb-custom-icon bb-custom-icon-arrow-right">Next</a>
		<a id="bb-nav-last" href="#" class="bb-custom-icon bb-custom-icon-last">Last page</a>
	</nav>

</div>
	<!-- END LATEST PROJECTS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='assets/js/book_block/jquerypp.custom.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='assets/js/book_block/jquery.bookblock.min.js') }}"></script>

<script>
		var Page = (function() {
			
			var config = {
					$bookBlock : $( '#bb-bookblock' ),
					$navNext : $( '#bb-nav-next' ),
					$navPrev : $( '#bb-nav-prev' ),
					$navFirst : $( '#bb-nav-first' ),
					$navLast : $( '#bb-nav-last' )
				},
				init = function() {
					config.$bookBlock.bookblock( {
						speed : 1000,
						shadowSides : 0.8,
						shadowFlip : 0.4
					} );
					initEvents();
				},
				initEvents = function() {
					
					var $slides = config.$bookBlock.children();

					// add navigation events
					config.$navNext.on( 'click touchstart', function() {
						config.$bookBlock.bookblock( 'next' );
						return false;
					} );

					config.$navPrev.on( 'click touchstart', function() {
						config.$bookBlock.bookblock( 'prev' );
						return false;
					} );

					config.$navFirst.on( 'click touchstart', function() {
						config.$bookBlock.bookblock( 'first' );
						return false;
					} );

					config.$navLast.on( 'click touchstart', function() {
						config.$bookBlock.bookblock( 'last' );
						return false;
					} );
					
					// add swipe events
					$slides.on( {
						'swipeleft' : function( event ) {
							config.$bookBlock.bookblock( 'next' );
							return false;
						},
						'swiperight' : function( event ) {
							config.$bookBlock.bookblock( 'prev' );
							return false;
						}
					} );

					// add keyboard events
					$( document ).keydown( function(e) {
						var keyCode = e.keyCode || e.which,
							arrow = {
								left : 37,
								up : 38,
								right : 39,
								down : 40
							};

						switch (keyCode) {
							case arrow.left:
								config.$bookBlock.bookblock( 'prev' );
								break;
							case arrow.right:
								config.$bookBlock.bookblock( 'next' );
								break;
						}
					} );
				};

				return { init : init };

		})();
	</script>
	<script>
			Page.init();
	</script>
{% endblock %}
{% block js %}

{% endblock %}
