{% extends "base.html" %}
{% block js_head %}

<style>

body {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.bar {
  fill: steelblue;
}

.x.axis path {
  display: none;
}

.legend line {
  stroke: #000;
  shape-rendering: crispEdges;
}

#d3bars {
	position: relative;
	float: left;
	height: 800px;
	width: 50px;
	text-align: center;
	/*border: 1px solid black;*/
}


#d3body {
	position: relative;
	float:right;
	top: 5px;
	height: auto;
	width: 100%;
	border: 1px solid #aaa;
	overflow-x: auto;
	overflow-y: hidden;
	-moz-border-radius: 15px;
	border-radius: 15px;	
}


#d3text {
	position: relative;
	text-align: left;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	height: 280px;
	width: 100%;
	overflow-y: auto;
	overflow-x: hidden;
	border: 1px solid #aaa; 
	-moz-border-radius: 5px;
	border-radius: 5px;
	}

#d3header {
	position: relative;
	top: 10px;
	height: 30px;
	width: 100%;
	overflow-x: auto;
	overflow-y: hidden;
}

#d3words {
	position: relative;
	float: left;
	height: 800px;
	overflow-y: auto;
	overflow-x: hidden;
	width: 95%;
	border: 1px solid #aaa; 
	-moz-border-radius: 15px;
	border-radius: 15px;
}

.h6style {
	margin: 0 auto;
	padding: 0px;
	font-size: 15px;
	text-align: center;
}

#viz_middle{
	border: none;
}

#bar_box {
	border: none;
}

#word_box {
	border: none;
}

#interactive_button {position: relative; top: 7px; font-size:20px; z-index: 9999; text-decoration: none; }
</style>
{% endblock %}
{% block content %}
	<!-- START PORTFOLIO WRAPPER -->
	<div class="onerow">
		<div class="col1" id="bar_box">
			<div id="d3bars"> 
				<h6 class="h6style">Global Topics</h6>
			</div>
		</div>
		
		<div class="col9" id="viz_middle">
			<h4 id="d3banner">Showing Top 100 Documents for Topic 1</h4>
			<div id="d3body"> </div>
			<div id="d3header"></div>
			<div id="doc_title"></div>
			<div id="d3text"></div> 
		</div>
		<div class="col2 last" id="word_box">				
			<div id="d3words"><h6 class="h6style">Top 100 Words</h6></div>
		</div>
	</div><!-- .container -->
	<!-- END PORTFOLIO WRAPPER -->
{% endblock %}
{% block js %}

<script type="text/javascript" src="{{ url_for('static', filename='assets/js/d3/d3.v3.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='topicmodel/stories/csv/tm_global.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='assets/js/d3/topic.js') }}"></script>

{% endblock %}