{% extends "layout.html" %}
{% block js %}
<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="{{ url_for('static', filename='assets/js/viz/analysis_tree.js') }}"></script>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css">
<script>
$(function() {
  $( "#accordion" ).accordion({
    collapsible: true,
	autoHeight: true
  });
});
$(function() {
  $( "#tabs" ).tabs();
});
$(function() {
  $( "#selectable" ).selectable();
});
</script>

<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>

<script type="text/javascript" src="{{ url_for('static', filename='assets/js/jquery.simplePagination.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='assets/js/jquery.smartWizard-2.0.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='assets/js/modernizr.custom.26633.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='assets/js/jquery.gridrotator.js')}}"></script>
{% endblock %}
{% block content %}
<div id="tabs">
  <ul>
    <li><a href="#tabs-1" class="tabs-header">Your Projects</a></li>
	<li><a href="#tabs-2" class="tabs-header">Manage Data</a></li>
    <li><a href="#tabs-3" class="tabs-header">New Analysis</a></li>
  </ul>
  
  <div id="tabs-1">
   	<div id="accordion">
	  <h3>The Little Sis Network: Profiling the Powers that be</h3>
	  <div>
		<a href="#delete">Delete</a> <a href=#redo> Redo Analysis </a>
	    <p>LittleSis* is a free database of who-knows-who at the heights of business and government. We're a grassroots watchdog network connecting the dots between the world's most powerful people and organizations.</p>
	  </div>
	  {% for project in projects %}
		<h3>{{project}}</h3>
	  <div>
		<p>This is interesting... </p>
	  </div>
	  {% endfor %}
	</div>
  </div>
  
  <div id="tabs-2">
   	<div>
	  <h3>Manage current datasets</h3>
	  <div class="ri-container">
			<div id="ri-grid" class="ri-grid ri-grid-size-1 ri-shadow">
				<img class="ri-loading-image" src="/static/images/loading.gif"/>
				<ul>
					{% for data in datasets %}
					<li><a href="#"><img class="ri-photos" src='/static/images/dataset_thumbs/{{data}}.jpg'/></a></li>
					{% endfor %}
				</ul>
			</div>
	<h3> Upload a new dataset </h3>
	    	<div id="light-pagination"></div>
	  </div>
	</div>
  </div>

  <div id="tabs-3">
	<div>
		<!-- Smart Wizard -->
		<div id="wizard" class="swMain">
			<ul>
				<li>
					<a href="#step-1"><label class="stepNumber">1</label>
					<span class="stepDesc">Select your data<br /><span class="sub-step">Your choice of data will affect your analysis</span></span> 
					</a>
				</li>
				<li>
					<a href="#step-2">
	             		<label class="stepNumber">2</label><span class="stepDesc">Choose your analysis<br /><span class="sub-step">Specify your learning algorithm</span></span>
	         		</a>
				</li>
				<li>
					<a href="#step-3"><label class="stepNumber">3</label>
	             		<span class="stepDesc">Tune Parameters<br /><span class="sub-step">Or use our default recommended settings</span></span>                   
	          		</a>
				</li>
			</ul>
			
			
			<div id="step-1">	
	         <h2 class="StepTitle">Step 1 Content</h2>
	         <p>Step 1</p>
			<div id="analysis_tree">
			<div id="step-2">
	         <h2 class="StepTitle">Step 2 Content</h2>	
	         <p>Step 2</p>         
	     </div>                      
			<div id="step-3">
	         <h2 class="StepTitle">Step 3 Content</h2>	
	         <p>Step 3</p>               				          
	     </div>
	</div>
	<!-- End SmartWizard Content -->
		
  </div>

</div>
<script>
$(document).ready(function(){
	// Smart Wizard 	
	$('#wizard').smartWizard();
  
  function onFinishCallback(){
    $('#wizard').smartWizard('showMessage','Finish Clicked');
  }     
	});
$('#pagination-datasets').pagination({
	pages: 5,
	//cssStyle: 'light-theme'
});

$(function() {
	
		$( '#ri-grid' ).gridrotator( {
			animSpeed : 300,
			animType : 'rotateBottom',
			w320 : {
				rows : 3,
				columns : 4
			},
			w240 : {
				rows : 3,
				columns : 3
			},
			slideshow : false,
			onhover : true
		} );
	
	});
</script>

{% endblock %}