{% extends "base.html" %}
{% block js_head %}

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/manage/manage_reports.css') }}"  />
<script type="text/javascript" src="{{ url_for('static', filename='assets/lib/mixitup/jquery.mixitup.js') }}"></script>
{% endblock %}

{% block content %}
{% include 'headers/manage_header.html' %}

	<div class="onerow">
		<div class="col12" id="manage_sub_hdr">
			<div class="controls">
				<ul id="dataset_filter">
					<li class="new_report_btn"> <a href="{{ url_for('new_report', username=g.user.username)  }}"> New Report</a> </li>
					<li> Filters: </li>
					<li class="filter filter2 clicked_control" data-filter="all">All</li>
					<li class="filter filter2" data-filter="category_2 category_3">Documents</li>
					<li class="filter filter2" data-filter="category_1">Networks</li>
					<li> Sort: </li>
					<li class="filter filter2" data-filter="category_2 category_3">Views</li>
					<li class="filter filter2" data-filter="category_1">Date</li>
					<li id="manage_search">
						<form>
						<input id="search_input" placeholder="Enter your search term..." type="text" value="" name="search" id="search">
						<input id="search_btn" type="submit" value="Search" name="submit">
						</form>
					</li>
				</ul>
			</div>
		</div>
	</div>

			<ul id="Grid">	
				{% for img_url,title,subtext,info in data %}
					<li class="mix category_{{ loop.index }}">

							<div class="col4" id="report_img">
								<a href="#"><img src="/static/images/paintings/{{img_url}}"></a>
								<h3 >{{ title }}</h3>
							</div>
							<div class="col8 last" id="report_brief">
								<p class="article_text"> GENEVA — Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
								<ul class="report_links">
									<li class="report_info">
										<span>Viewed: 103476 Times </span><br>
										<span>Last Edited: December 25, 2013</span>
									</li>	
									<li class="report_a"><a href="#" >Edit</a></li>
									<li class="report_a"><a href="#" >Delete</a></li>
								</ul>
							</div>

					</li>
				{% endfor %}
			</ul>

{% endblock %}
{% block js %}
<script type="text/javascript">
$('#Grid').mixitup();
$('#refresh').hide();
$('.filter2').click(function(){
	$('.filter2').removeClass('clicked_control');
    $(this).toggleClass('clicked_control');
});

</script>
{% endblock %}