{% extends "layout.html" %}
{% block content %}
<h1>Upload new File</h1>
<form action="" method=post enctype=multipart/form-data>
  <p><input type=file name=file>
     <input type=submit value=Upload>
{% endblock %}