/******** MANAGE DATA HEADER ********/
#manage_hdr {
	font-size: 20px;
	font-family: Century;
	margin: 0 auto;
	font-weight: 100;
	padding: 0px;
	height: 30px;
}

#manage_links {
	position: relative;
	top: 20px;
	bottom: 30px;
	text-align:center;
}

#manage_links li{
	position: relative;
	display:inline;
	margin-left: auto;
	margin-right: auto;
}

#manage_links li a{
	display: inline-block;
	color: #111;
	border: 1px solid #111;
	border-radius: 10px;
	margin-left: 20px;
	margin-right: 20px;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
}

#manage_links li a:focus;{
	color: #006600;
}

#manage_links li a:hover{
	background-color: #111;
	color: #eee;
}

/** SUB_HEADER ***/
#search_input{
	margin-top: 5px;
	width: 200px;
	line-height: 20px;
}

.clicked_control{
	border: 1px solid #993300;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	color: #993300;
}

#manage_sub_hdr {
	border: 1px solid black;
	padding: 0px;
	width: 99%;
	margin-top: 20px;
	text-align: center;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}



#manage_sub_hdr .filter:hover {
	color: #993300;
	cursor: pointer;
}


#manage_search{
	position: relative;
	bottom: 8px;
}

#dataset_filter .new_report_btn{
	position: relative;
	width: 80px;
	bottom: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
	border: 2px solid #111;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

#dataset_filter .new_report_btn:hover{
	opacity: .5;
}


/** IMAGES AND DATASET LISTINGS **/

#data_hdr img{
	text-align: center;
	height: 120px;
	width: auto;
}

#Grid{
	height: 100%;
	width: 820px;
	margin-left: 0px;
	text-align: center;
	font-size: 0.1px;
}

#Grid:after{
	content: '';
	display: inline-block;
	width: 100%;
	
	text-align: center;
}

#Grid .mix{
	display: none;
	opacity: 0;
	color: #fff;
	font-size: 10px;
}

#Grid img{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

#Grid img:hover {
	opacity: .5;
}

#Grid li{
	margin: 0 auto;
	padding: 10px;
}

#Grid p {
	color: #111;
}

#Grid .gap{
	display: inline-block;
	width: 100px;
}
