/******** MANAGE DATA HEADER ********/
#manage_hdr {
	font-size: 20px;
	font-family: Century;
	margin: 0 auto;
	padding: 0px;
	height: 30px;
}

#manage_links {
	position: relative;
	bottom: 30px;
	text-align:center;
}

#manage_links li{
	position: relative;
	display:inline;
	margin-left: auto;
	margin-right: auto;
}

#manage_links li a{
	display: inline-block;
	color: #111;
	border: 1px solid #111;
	border-radius: 10px;
	margin-left: 20px;
	margin-right: 20px;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
}

#manage_links li a:focus;{
	color: #006600;
}

#manage_links li a:hover{
	background-color: #111;
	color: #eee;
}


/** SUB_HEADER ***/
#search_input{
	margin-top: 5px;
	width: 200px;
	line-height: 20px;
}

.clicked_control{
	border: 1px solid #993300;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	color: #993300;
}

#manage_sub_hdr {
	border: 1px solid black;
	padding: 0px;
	width: 99%;
	margin-top: 20px;
	text-align: center;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}

#manage_sub_hdr ul {
	display: block-inline;
	margin-left: auto;
	margin-rigth: auto;
}

#manage_sub_hdr li {
	font-size: 12px;
	margin-left: 10px;
	float: left;
	font-weight: 100;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
}

#manage_sub_hdr .filter:hover {
	color: #993300;
	cursor: pointer;
}

#dataset_filter {
	width: 100%;
}

#dataset_filter li{
	font-family: Helvetica;
	font-weight: 100;
	margin-bottom: 0px;
	display: inline;
	font-size: 14px;
}	

#dataset_filter .filter{
	position: relative;
	float: left;
	font-size: 12px;
	padding: 10px;
	bottom: 3px;
	margin: 0px;
}

#manage_search{
	position: relative;
	bottom: 8px;
}

#dataset_filter .new_report_btn{
	position: relative;
	width: 80px;
	bottom: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
	border: 2px solid #111;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

#dataset_filter .new_report_btn:hover{
	opacity: .5;
}

/** IMAGES AND DATASET LISTINGS **/

#data_hdr img{
	text-align: center;
	height: 120px;
	width: auto;
}

#Grid{
	height: 100%;
	width: 100%;
	text-align: center;
	font-size: 0.1px;
}

#Grid:after{
	content: '';
	display: inline-block;
	text-align: left;
}

#Grid .mix{
	display: none;
	opacity: 0;
	color: #fff;
	font-size: 10px;
}

#Grid img{
	margin-top: 10px;
	height: 170px;
	max-height: 170px;
	max-width: 100%;
}

#Grid li{
	position: relative;
	width: 95%;

}

#Grid li p {
	font-size: 15px;
	font-family: Helvetica;
	font-weight: 100;
	text-align: left;
	color: #111;
}

#Grid .gap{
	display: inline-block;
	width: 100px;
}

#report_img {
	max-width: 200px;
	min-width: 200px;
}

#report_list {
	width: 1000px;
}

#report_brief {
	text-align:left;
	width: 580px;

	padding: 15px;
	border: 1px solid #111;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
}

#report_brief ul{
	display: block-inline;
	position: relative;
	text-align: left;
	padding: 0px;
	top: 0px;
}

#report_brief ul li{
	text-align: left;
	font-weight: 100;
	font-family: Helvetica;
	font-size: 17px;
	display: inline;
	color: #111;
}

#report_brief ul .report_info{
	margin: 0px;
	width: 100px;
	padding: 0px;
	font-size: 15px;
}

#report_brief ul .report_a a{
	position: relative;
	text-align: right;
	left: 50px;
	margin-left: 10px;
	bottom: 10px;
	vertical-align: middle;
	font-size: 15px;
}



#report_brief ul li a{
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	border: 1px solid #111;
	color: #111;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
}

#report_brief ul li a:hover{
	background-color: #eee;
	opacity: .5;
}

#report_img {
	border: none;
}




