/******** MANAGE DATA HEADER ********/
#manage_hdr {
	font-size: 20px;
	line-height: 100%;
	font-family: Century;
	margin-bottom: 20px;
	padding: 0px;
	height: 30px;
}

#manage_links {
	position: relative;
	bottom: 30px;
	text-align:center;
}

#manage_links li{
	position: relative;
	display:inline;
	margin-left: auto;
	margin-right: auto;
}

#manage_links li a{
	display: inline-block;
	color: #111;
	border: 1px solid #111;
	border-radius: 10px;
	margin-left: 20px;
	margin-right: 20px;
	padding: 10px;
}

#manage_links li a:focus;{
	color: #006600;
}

#manage_links li a:hover{
	background-color: #111;
	color: #eee;
}


/** SUB_HEADER ***/
#manage_search {
	position: relative;
	left: 300px;
	bottom: 8px;
}

#search_input{
	margin-top: 5px;
	width: 200px;
	line-height: 20px;
}

.clicked_control{
	border: 1px solid #993300;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	color: #993300;
}

#manage_sub_hdr {
	margin-top: 20px;
	text-align: center;
}

#manage_sub_hdr ul {
	display: block-inline;
	margin-left: auto;
	margin-rigth: auto;
}

#manage_sub_hdr li {
	font-size: 15px;
	margin-left: 20px;
	float: left;
	font-weight: 100;
	padding: 5px;
}

#manage_sub_hdr li:hover {
	color: #993300;
	cursor: pointer;
}

#dataset_filter li{
	margin-bottom: 20px;
	display: inline;
	font-size: 15px;
}	


/******** UPLOAD ********/
#refresh {
	position: relative;
	top: 15px;
	margin-left: 260px;
	padding: 7px;
	border: 1px solid #006600;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	color: #111;
}

#refresh:hover {
	background-color: #aaa;
}

#upload_hdr{
	border: none;
}



#submitbutton{
	position: relative;
	text-align: center;
	width: 100%;
	height: 25px;
	margin-top: 10px;
}
/********** TOP ROW - RIGHT COLUMN **********/
#row1 {
	position: relative;
	top: 20px;
	height: 180px;
}

/********** TOP ROW - LEFT COLUMN **********/
#row1_col1{
	border: none;
}

#img_frame{
	height: 100%;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

#filedrag_img
{
	display:block;
	position: relative;
	display: none;
	margin: 0 auto;
	padding: 0px;
	height: 250px;
	text-align: center;
	color: #111;
	border: 2px dashed #555;
	border-radius: 10px;
	cursor: default;
}


#filedrag_img.hover
{
	color: green;
	border-color: green;
	border-style: solid;
	box-shadow: inset 0 3px 4px #888;
}

/********** TOP ROW - RIGHT COLUMN **********/
#row1_col2 {
	border: none;
}

#upload_title{
	position: relative;
	padding: 5px;
	width: 99%;
	text-align: center;
	font-weight: 100;
	font-size: 14px;
	border: 1px solid #555;
	border-radius: 10px;
	font-family: Century;
}

#upload_summary{
	position: relative;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
	padding: 5px;
	width: 99%;
	height: 100px;
	resize: none;
	font-weight: 100;
	font-size: 14px;
	border: 1px solid #555;
	border-radius: 10px;
	font-family: Century;
}
/********** SECOND ROW ************************/
#row2 {
	position: relative;
	top: 20px;
	height: 250px;
}

/********** SECOND ROW - LEFT COLUMN **********/
#row2_col1{
	border: none;
}

#filedrag_data
{
	display: block;
	position: relative;
	display: none;
	height: 130px;
	padding: 10px;
	text-align: center;
	color: #111;
	border: 2px dashed #555;
	border-radius: 10px;
	cursor: default;
}

#filedrag_data h3{
	text-align: left;
}

#filedrag_data.hover
{
	color: #f00;
	border-color: #f00;
	border-style: solid;
	box-shadow: inset 0 3px 4px #888;
}



#fileselect {
	visibility: none;
}

/********** SECOND ROW - RIGHT COLUMN **********/
#row2_col2{
	border: none;
}

.upload_status {
	font-size: 12px;
}

/********** THIRD ROW **********/

#row3{
	margin: 0px;
	padding: 0px;
}

/********** Upload Tutorial Links **********/
#upload_types {
	position: relative;
	padding: 0px;
	margin-top: 10px;
}

#upload_types li{
	display:inline;
	margin-left: auto;
	margin-right: auto;
}

#upload_types li a{
	display: inline-block;
	color: #111;
	border: 1px solid #111;
	border-radius: 15px;
	padding: 5px;
	margin-left: 5px;
	margin-right: 5px;
}

#upload_types li a:hover{
	color: #fff;
	background-color: #006600;
}


/********** UPLOAD MESSAGES **********/
.upload_status_text {
	font-size: 25px;
}

#upload_status_cont
{
	position: relative;
	padding: 5px;
	text-align: left;
	width: 99%;
	height: 285px;
	border: 1px solid #555;
	border-radius: 10px;
	overflow: auto;
	font-weight: 100;
	color: #eee;
	background: #000;
	list-decoration: none;
}

#upload_messages {
	position: relative;
	padding: 0px;
	margin-left: 20px;
	font-size: 14px;
	font-weight: 100;
	font-family: Helvetica;
}

#upload_messages li {
	padding: 5px;
	margin: 0px auto;
}

#upload_progress {
	border: 1px solid black;
	margin: 0 auto;
	position: relative;
	border-radius: 10px;
	top: 15px;
	padding: 5px;
	width: 99%;
	height: 19px;
}

#upload_progress p
{
	position: relative;
	bottom: 21px;
	right: 5px;
	display: block;
	padding: 5px;
	color: #444;
	width: 100%;
	height: 19px;
	border-radius: 10px;
	font-weight: 100;
	background: #eee url(/static/images/progress.png) 100% 0 repeat-y;
}

#upload_progress p.success
{
	background: #00cc33 none 0 0 no-repeat;
}

#upload_progress p.failed
{
	background: #c00 none 0 0 no-repeat;
}



