/******** MANAGE DATA HEADER ********/
#filter_listing_cont {
	background: #fff;
	border: 2px solid #333;
	width: 23%;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	min-height: 300px;
	margin: 0px auto;
}

#data_listing_cont{
	position: relative;
	border: 2px solid #333;
	margin-left: 15px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	min-height: 300px;
}

#dr_links {
	
	position: relative;
	text-align:center;
	padding: 0px;
	left: 0px;
}

#dr_links li{
	position: relative;
	font-size: 15px;
	display:inline;
	margin-left: auto;
	margin-right: auto;
}

.nav{
	font-size: 16px;
	font-family: Century;
	display: inline-block;
	color: #fff;
	border: 2px solid #fff;
	border-radius: 10px;
	margin-left: 5px;
	margin-right: 5px;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-weight: 100;
}

.nav a{
	color: #333;
	width: 100%;
}

.nav:hover{
	opacity: .5;
}

.ui-state-active{
	color: #333;
	background: #eee;
	border: 2px solid #333;
}

#search_input{
	width: 200px;
	margin-top: 100px;
	padding: 5px;
	height: 15px;
	border: 2px solid #333;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

#new_button{
	background: #aaa;
	position: relative;
	font-size: 19px;
	padding: 5px;
	border: 2px solid #eee;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

#new_button a{
	color: #333;
	width: 100px;
}

#new_button:hover{
	background: #fff;
}

#dataset_filter .new_btn{
	position: relative;
	width: 100%;
	bottom: 5px;
	padding-top: 10px;
	padding-bottom: 10px;

}

#dataset_filter .new_report_btn:hover{
	opacity: .5;
}

/** CODROPS DROPDOWN CSS  **/
.fleft{
	position: relative;
	margin-bottom: 15px;
}

.cd-dropdown,
.cd-select {
	font-family: Century;
	position: relative;
	margin-left: 15px;
	text-align: center;
	width: 85%;
	display: block;
	border: 2px solid #333;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	
}

.cd-dropdown > span {
	width: 50%;
	height: 30px;
	line-height: 30px;
	font-size: 18px;
	background: #fff;
	display: block;
	position: relative;
	margin-left: 10px;
	cursor: pointer;
}

.cd-dropdown > span:after {
	content: '\25BC';
	position: absolute;
	left: 100px;
	bottom: -5px;
	width: 65px;
	text-align: right;
	font-size: 15px;
	padding: 10px;
	height: 70%;
	line-height: 24px;
}

.cd-dropdown.cd-active > span:after {
	content: '\25BA';
}

.cd-dropdown ul {
	position: relative;
	list-style-type: none;
	margin-left: 200px;
	margin-top: -35px;
	padding: 0;
	display: block;
}

.cd-dropdown ul li {
	display: block;
}

.cd-dropdown ul li span {
	width: 110px;
	background: #fff;
	line-height: 18px;
	font-size: 13px;
	padding: 4px;
	display: block;
	cursor: pointer;
	border: 2px solid #333;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.cd-dropdown > span,
.cd-dropdown ul li span {
	-webkit-backface-visibility: hidden;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* Select fallback styling */
.cd-select {
	border: 0px solid #ddd;
}

.cd-dropdown ul {
	position: absolute;
	top: 0px;
	width: 100%;
}

.cd-dropdown ul li {
	position: absolute;
	width: 100%;
	pointer-events: none;
}

.cd-active.cd-dropdown > span {
	color: #006600;
}

.cd-active.cd-dropdown ul li {
	pointer-events: auto;
}

.cd-active.cd-dropdown ul li span {
	-webkit-transition: all 0.2s linear 0s;
	-moz-transition: all 0.2s linear 0s;
	-ms-transition: all 0.2s linear 0s;
	-o-transition: all 0.2s linear 0s;
	transition: all 0.2s linear 0s;
}

.cd-active.cd-dropdown ul li span:hover {
	background: #bbb;
	color: #fff;
}

/** IMAGES AND DATASET LISTINGS **/

#Grid li a img{
	text-align: center;
	height: 120px;
	width: auto;
}

#Grid{
	height: 100%;
	width: 100%;
	margin-left: 0px;
	text-align: center;
	font-size: 0.1px;
}

#Grid:after{
	content: '';
	display: inline-block;
	width: 100%;
	
	text-align: center;
}

#Grid .mix{
	display: none;
	opacity: 0;
	color: #fff;
	font-size: 10px;
}

#Grid img{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

#Grid img:hover {
	opacity: .5;
}

#Grid li{
	margin: 0 auto;
	padding: 10px;
}

#Grid p {
	color: #111;
}

#Grid .gap{
	display: inline-block;
	width: 100px;
}
