<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

	<!-- Basic Page Needs -->
	<meta charset="utf-8">
	{% block title %}
	{% endblock %}

	<!-- Mobile Specific Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS -->
	<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/base.css') }}" />
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/style.css') }}"/>
	<link href='http://fonts.googleapis.com/css?family=Bad+Script|Sacramento|Titillium+Web|Special+Elite' rel='stylesheet' type='text/css'>
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<!-- JS -->
	<script type="text/javascript" src="{{ url_for('static', filename='assets/lib/jquery-1.9.1.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='assets/lib/jquery-ui-1.9.2.custom.min.js') }}"></script>

	{% block js_head %}
	{% endblock %}
</head>

<body>

	<div class="onepcssgrid-1000">
		<div class="onerow">
			<div class="col12" id="header">
				
				<!-- .logo -->
				<div id="logo">
					<a href="{{ url_for('newsfeed') }}">MLrun</a>
				</div>
				
				<div id="menu" >
					<ul id="nav" class="sf-menu">
						<li><a title='Logout' href="{{ url_for('logout') }}" class="current"><img id="icon_5" src='/static/images/glyphicons_063_power.png'></a></li>
						
						<li><a title='Manage' href="{{ url_for('manage_data', username=g.user.username ) }}"><img id="icon_3" src='/static/images/glyphicons_144_folder_open.png'></a></li>
						{#<li> <a title='New Analysis'  href="{{ url_for('new_analysis') }}"><img id="icon_2"  src='/static/images/glyphicons_220_play_button.png'></a></li>#}
						<li><a title='Newsfeed' href="{{ url_for('newsfeed') }}"><img id="icon_1" src='/static/images/glyphicons_370_globe_af.png'></a></li>
						<li><a id="menu_username" title='Profile' href="{{ url_for('profile') }}">{% if g.user %}{{g.user.username}}{% endif %}</a></li>
				 	</ul>  <!-- end #nav  -->
			 	</div>
			
			</div>
		</div>
		<div class="onerow">
			<div class="col12" id="header_line"> </div>
		</div>
{% block content %}
{% endblock %}

<!-- START FOOTER -->
		<div class="onerow">
			<div class="col12" id="footer">
				<div id="footer_logo">
					<a href="{{ url_for('about') }}">MLrun &copy; Unemployed Machine Learning Scientists 2013</a>
				</div><!-- .logo -->	
			</div>
		</div>
		
	</div> <!-- END CONTAINER-->

{% block js %}
{% endblock %}
</body>
</html>
