{% extends "base.html" %}
{% block js_head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/book_block/default.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/book_block/bookblock.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/book_block/bookdesign.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/jquery-ui.css') }}"  />
<script type="text/javascript" src="{{ url_for('static', filename='assets/lib/book_block/modernizr.custom.js') }}"></script>

<style>
#home_1{
	border: none;
}
</style>

{% endblock %}

{% block content %}
	<div class="onerow">
		<!-- INTERACTIVE JOURNAL PREVIEW -->
		<div class="col8" id="home_1">
			<p class="book_header"><span>Featured Project - </span> Analyzing the LittleSis Network</p> 
			<div class="bb-custom-wrapper">
				<div id="bb-bookblock" class="bb-bookblock">
					<div class="bb-item">
						<div class="bb-custom-side">
							<a class="news" href="{{ url_for('article') }}"> <img id="flip_img" src="{{ url_for('static', filename='images/hopper-gas.jpg') }}" alt="">	</a>
						</div>
						<div class="bb-custom-side">
							<a class="news" href="{{ url_for('article') }}"> <p class="book_title">The Afghan War Leaks</p> </a>
							<p class="book_author">By Dae Il Kim</p>
							<p class="book_summary">In June 2010, Guardian journalist Nick Davies and WikiLeaks founder Julian Assange established that the US army had built a huge database with six years of sensitive military intelligence material, to which many thousands of US soldiers had access and some of them had been able to download copies, and WikiLeaks had one copy which it proposed to publish online, via a series of uncensorable global servers.</p>
						</div>
					</div>
					
					<div class="bb-item">
						<div class="bb-custom-side">
							<img id="flip_img" src="{{ url_for('static', filename='images/hopper-early-sunday-morning.jpg') }}" alt="">	
						</div>
						<div class="bb-custom-side">
							<p class="book_title">The Lybia Cables</p>
							<p class="book_author">By Dae Il Kim</p>
							<p class="book_summary">In June 2010, Guardian journalist Nick Davies and WikiLeaks founder Julian Assange established that the US army had built a huge database with six years of sensitive military intelligence material, to which many thousands of US soldiers had access and some of them had been able to download copies, and WikiLeaks had one copy which it proposed to publish online, via a series of uncensorable global servers.</p>
						</div>
					</div>
					
					<div class="bb-item">
						<div class="bb-custom-side">
							<img id="flip_img" src="{{ url_for('static', filename='images/hopper-chop-suey.jpg') }}" alt="">	
						</div>
						<div class="bb-custom-side">
							<p class="book_title">NSA Eavesdropping</p>
							<p class="book_author">By Dae Il Kim</p>
							<p class="book_summary">In June 2010, Guardian journalist Nick Davies and WikiLeaks founder Julian Assange established that the US army had built a huge database with six years of sensitive military intelligence material, to which many thousands of US soldiers had access and some of them had been able to download copies, and WikiLeaks had one copy which it proposed to publish online, via a series of uncensorable global servers.</p>
						</div>
					</div>
					
				</div>
				<nav>
					<a id="bb-nav-first" href="#" class="bb-custom-icon bb-custom-icon-first">First page</a>
					<a id="bb-nav-prev" href="#" class="bb-custom-icon bb-custom-icon-arrow-left">Previous</a>
					<a id="bb-nav-next" href="#" class="bb-custom-icon bb-custom-icon-arrow-right">Next</a>
					<a id="bb-nav-last" href="#" class="bb-custom-icon bb-custom-icon-last">Last page</a>
				</nav>
			</div>
		</div>
		
		<!-- MOST POPULAR / INTERESTING -->
		<div class="col4 last" id="home_right">
			<p class="home_header"><input type="text" value="Find Projects"><input id="search_btn" type="button" value="Search"></p>
			<div id="tabs">
				<ul id="tab_menu">
					<li><a href="#tabs-1">Most Popular</a></li>
					<li><a href="#tabs-2">Most E-mailed</a></li>
					<li style="border-right: 1px solid black"><a href="#tabs-3">Recent</a></li>
				</ul>
				
				<div id="tabs-1">
					<ul class="popular">
						<li><a href="#" title="Post With Gallery">Afghanistan War Leaks</a></li>
						<li><a href="#" title="Quote Post">Libya Cables</a></li>
						<li><a href="#" title="Audio Post">The LittleSis Network</a></li>
						<li><a href="#" title="Post With Link">NSA Eavesdropping</a></li>
						<li><a href="#" title="Post With Featured Image">Internships</a></li>
					</ul>
				</div>
				
				<div id="tabs-2">
					<ul class="popular">
						<li><a href="#" title="Audio Post">The LittleSis Network</a></li>
						<li><a href="#" title="Post With Link">NSA Eavesdropping</a></li>
						<li><a href="#" title="Post With Featured Image">Internships</a></li>
						<li><a href="#" title="Post With Gallery">Afghanistan War Leaks</a></li>
						<li><a href="#" title="Quote Post">Libya Cables</a></li>
					</ul>
				</div>
				
				<div id="tabs-3">
					<ul class="popular">
						<li><a href="#" title="Quote Post">Birthday Party</a></li>
						<li><a href="#" title="Audio Post">Home Photos</a></li>
						<li><a href="#" title="Post With Link">Tulip Classifier</a></li>
						<li><a href="#" title="Post With Gallery">Random Analysis 1</a></li>
						<li><a href="#" title="Post With Featured Image">Random Analysis 2</a></li>
					</ul>
				</div>
				
			</div>
		</div>
		
	</div>

	<div class="onerow">
		<div class="col4">
			<p class="home_sub_hdr">Tutorials</p>
			<img class="home_sub_img" src="{{ url_for('static', filename='images/hopper-nighthawks.jpg') }}" alt="">
		</div>
		
		<div class="col4">
			<p class="home_sub_hdr">About Us</p>
			<img class="home_sub_img" src="{{ url_for('static', filename='images/hopper-nighthawks.jpg') }}" alt="">
		</div>
		
		<div class="col4 last">
			<p class="home_sub_hdr">Services</p>
			<img class="home_sub_img" src="{{ url_for('static', filename='images/hopper-nighthawks.jpg') }}" alt="">
		</div>
	</div>

<!-- END BLOG WRAPPER -->
{% endblock %}
{% block js %}
<script type="text/javascript" src="{{ url_for('static', filename='assets/lib/book_block/jquerypp.custom.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='assets/lib/book_block/jquery.bookblock.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='assets/lib/book_block/bookblock_action.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='assets/lib/jquery-ui-1.9.2.custom.min.js') }}"></script>

<script> Page.init(); </script>
<script>
$(function() {
	$( "#tabs" ).tabs();
	});
</script>
{% endblock %}
