<head>
	<link href='http://fonts.googleapis.com/css?family=Century' rel='stylesheet' type='text/css'>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='assets/css/login.css') }}">
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='assets/css/reset.css') }}">
</head>
<body>
	
<form id="login" method="post" action="{{ url_for('login') }}" name="login"> 
	{{ form.hidden_tag() }}
    <center><h2>MLRun<span id="small"> (beta)</span></center>    
    <div>
    	<label for="login_username">Username</label>{{ form.username(id_='login_username', class_='field required') }} 
    </div>			
    <div>
    	<label for="login_password">Password</label>{{ form.password(id_='login_password', class_='field required') }} 
    </div>
			
    <p class="forgot"><a href="#">Forgot your password?</a></p>
	<p class="forgot">Not a member? <a href="#">Sign Up</a></p>
    <div class="submit">
        <button type="submit">Log in</button>   
        <label>{{form.remember_me(id_='login_remember', name_='remember', value_='yes')}} Remember Me </label>
    </div>

</form>
</div>
</body>