{% extends "base.html" %}
{% block js_head %}

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/new_analysis/new_analysis.css') }}"  />

<script type="text/javascript" src="{{ url_for('static', filename='assets/js/knob/knob.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='assets/js/knob/jquery.knob.js') }}"></script>
{% endblock %}
{% block content %}

	<!-- START PORTFOLIO WRAPPER -->
	<h1>Things to do:</h1>
	<ul> 
		<li>create.html: Add options for dataset from public repository</li>
		<li>create.html: jquery tooltip for peoples names that match (ability to add hyperlinks to content) tooltip web preview page</li>
	</ul>
		
	
{% endblock %}
{% block js %}

{% endblock %}


